# US Monster Jobs Dataset Cleansing

Personal checklist:
-> Standarization of data: Fix inconsistent column names and convert into a standard format

In [2]:
import pandas as pd

import numpy as np

In [3]:
df = pd.read_csv('C:\\Users\\jorge\\Desktop\\monster_com-job_sample.csv')

# Overview of dataset

In [4]:
df.shape

(22000, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   date_added       122 non-null    object
 3   has_expired      22000 non-null  object
 4   job_board        22000 non-null  object
 5   job_description  22000 non-null  object
 6   job_title        22000 non-null  object
 7   job_type         20372 non-null  object
 8   location         22000 non-null  object
 9   organization     15133 non-null  object
 10  page_url         22000 non-null  object
 11  salary           3446 non-null   object
 12  sector           16806 non-null  object
 13  uniq_id          22000 non-null  object
dtypes: object(14)
memory usage: 2.3+ MB

# 1. Standarization of data
-> Column names/format: I don't see any relevant errors in the column name format. Am I missing something?
 <br />No caps, no format differences between one name and another.

In [6]:
df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'sector', 'uniq_id'],
      dtype='object')

# 2. Data Type Conversion
Data in df is of 'object' type. We'll have to convert the data type of the columns according to the data in each one of them.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   date_added       122 non-null    object
 3   has_expired      22000 non-null  object
 4   job_board        22000 non-null  object
 5   job_description  22000 non-null  object
 6   job_title        22000 non-null  object
 7   job_type         20372 non-null  object
 8   location         22000 non-null  object
 9   organization     15133 non-null  object
 10  page_url         22000 non-null  object
 11  salary           3446 non-null   object
 12  sector           16806 non-null  object
 13  uniq_id          22000 non-null  object
dtypes: object(14)
memory usage: 2.3+ MB

# 2.1 Empty cells per column?

We have a ton of missing data in date_added, job_type, organization, salary and sector.

In [8]:
df.isnull().sum()

country                0
country_code           0
date_added         21878
has_expired            0
job_board              0
job_description        0
job_title              0
job_type            1628
location               0
organization        6867
page_url               0
salary             18554
sector              5194
uniq_id                0
dtype: int64

The only value in the 'Country' column is the US. I guess it makes sense when using a 'US Monster Jobs' dataset.

In [9]:
print(df['country'].value_counts())

print('-----------------------------------')

print(df['country_code'].value_counts())

United States of America    22000
Name: country, dtype: int64
-----------------------------------
US    22000
Name: country_code, dtype: int64

# 2.2 Convert date_added to date dtype

In [10]:
df.loc[df['date_added'].notnull()]

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
133,United States of America,US,5/10/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Multibed Technician Job in Deer Park,Full Time Employee,"Deer Park, TX",Other/Not Classified,http://jobview.monster.com/Multibed-Technician...,NaN,Other,6f6e952b8b0a2bb55e9feada54db2347
140,United States of America,US,5/13/2016,No,jobs.monster.com,Equal Opportunity Employer: Minority/Female/Di...,Principal Cyber Security Engineer Job in Houston,Full Time Employee,"Houston, TX",Computer SoftwareComputer/IT Services,http://jobview.monster.com/Principal-Cyber-Sec...,NaN,IT/Software Development,1127457851cf28d79a39fd4b35867982
251,United States of America,US,5/9/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Field Supervisor IS Job in Deer Park,Full Time Employee,"Deer Park, TX",Other/Not Classified,http://jobview.monster.com/Field-Supervisor-IS...,NaN,Other,94b49d291a16d01b27378ca97e653910
279,United States of America,US,6/10/2016,No,jobs.monster.com,"At American Family Insurance, we're firmly com...",Insurance Sales - Customer Service Job in Eden...,Full Time Employee,"Eden Prairie, MN 55344",Insurance,http://jobview.monster.com/insurance-sales-cus...,15.00 - 21.00 $ /hour,Accounting/Finance/Insurance,64a597e5dd17740aadf4b0e8047b51a5
366,United States of America,US,1/2/2017,No,jobs.monster.com,Description The Opportunity The Vehicle Mainte...,Vehicle Maintenance Mechanic - Las Vegas,Full Time Employee,"Las Vegas, NV",Energy and Utilities,http://jobview.monster.com/vehicle-maintenance...,NaN,Installation/Maintenance/Repair,886903d4dda03046c2a826c44bfff3dc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20760,United States of America,US,9/27/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Central Maintenance Planner Job in Norwell,Full Time Employee,"Norwell, MA",Other/Not Classified,http://jobview.monster.com/central-maintenance...,NaN,Administrative/Clerical,7b115d764f741821bae4ac95bfcf3f04
21342,United States of America,US,3/30/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Branch Manager Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Branch-Manager-Job-...,NaN,Other,1db7d013265871214d3f4e7ed80d8a23
21391,United States of America,US,3/24/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Field Service Driver Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Field-Service-Drive...,NaN,Logistics/Transportation,4f304e6285b240f8442a028bc3716273
21631,United States of America,US,4/4/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Field Project Manager Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Field-Project-Manag...,NaN,Other,6f86e1f35ad082be591bcec15c75f947
21696,United States of America,US,3/24/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Environmental Technician CBPP Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Environmental-Techn...,NaN,Biotech/R&D/Science,a0afd50db433d785e97665e4e9345815

In [11]:
lista = [(i + ''': ''' + str(df.dtypes[i])) for i in dict(df.dtypes)]

# for i in dict(df.dtypes)
#     lista.append(i + ': ' + str(df.dtypes[i]))

print(lista)

['country: object', 'country_code: object', 'date_added: object', 'has_expired: object', 'job_board: object', 'job_description: object', 'job_title: object', 'job_type: object', 'location: object', 'organization: object', 'page_url: object', 'salary: object', 'sector: object', 'uniq_id: object']

# Fix salary column

# Visualize full df rows

Code in next cell allows us to view rows in text editor.

In [12]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df[['salary']].head(15))

                           salary
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN
5                             NaN
6                             NaN
7                             NaN
8                             NaN
9                             NaN
10                            NaN
11                            NaN
12                            NaN
13           9.00 - 13.00 $ /hour
14  80,000.00 - 95,000.00 $ /year

I wanted to have a better idea of the data in the column.

The "Salary" column is a mess. We got:\
80,000.00 - 95,000.00 /year\
45,000.00 - 100,000.00 /yearBonus, Benefits,\
40,000.00 - 50,000.00 /yearsalary\
56,000.00 - 64,000.00 /yearHighly Competitiv\
13.00 - 16.00 /year\
0.00 - 90,000.00 /year\
45,000.00+ /year\
0.00 - 1.00 /year

Next code block shows rows with "year" string in it. "Salary" column.

In [99]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('year') == True)

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df.loc[filt]['salary'].head(15))

id
14                         80,000.00 - 95,000.00 $ /year
19                         60,000.00 - 72,000.00 $ /year
29                        70,000.00 - 100,000.00 $ /year
32                        75,000.00 - 100,000.00 $ /year
36                         68,000.00 - 72,000.00 $ /year
41                         58,000.00 - 65,000.00 $ /year
61     45,000.00 - 100,000.00 $ /yearBonus, Benefits,...
64                   40,000.00 - 50,000.00 $ /yearsalary
82                         80,000.00 - 90,000.00 $ /year
83                         35,000.00 - 45,000.00 $ /year
88                        80,000.00 - 100,000.00 $ /year
100                        31,000.00 - 33,000.00 $ /year
117                      100,000.00 - 120,000.00 $ /year
127                       75,000.00 - 100,000.00 $ /year
132                                    $50,000.00+ /year
Name: salary, dtype: object

# Add extra columns for analysis

In [37]:
df.columns.get_loc('salary')

11

In [38]:
df.insert(12, 'from_salary', np.nan)

df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'from_salary', 'sector', 'uniq_id'],
      dtype='object')

In [40]:
df.insert(13, 'to_salary', np.nan)

df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'from_salary', 'to_salary', 'sector', 'uniq_id'],
      dtype='object')

In [41]:
df.insert(14, 'yearly_hourly', np.nan)

df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'from_salary', 'to_salary', 'yearly_hourly',
       'sector', 'uniq_id'],
      dtype='object')

In [57]:
df.index.names = ['id']

Now that I got the columns I'm splitting the strings into each one of them.
Try to make sense of the data.

In [87]:
df['yearly_hourly']

id
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
21995   NaN
21996   NaN
21997   NaN
21998   NaN
21999   NaN
Name: yearly_hourly, Length: 22000, dtype: float64

Set "Yearly_Hourly" column to "year" where "Salary" column contains "year"

In [97]:
# yearly_hourly = year
# from_salary = min
# to_salary = max

filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('year') == True)

for i in df.index[filt == True]:
    df.iloc[i, df.columns.get_loc('yearly_hourly')] = 'year'

Review changes, now we have "year" in these columns

In [98]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('year') == True)

print(df.loc[filt][['salary', 'yearly_hourly']])

                                                  salary yearly_hourly
id
14                         80,000.00 - 95,000.00 $ /year          year
19                         60,000.00 - 72,000.00 $ /year          year
29                        70,000.00 - 100,000.00 $ /year          year
32                        75,000.00 - 100,000.00 $ /year          year
36                         68,000.00 - 72,000.00 $ /year          year
...                                                  ...           ...
21982                      70,000.00 - 80,000.00 $ /year          year
21987                                  $80,000.00+ /year          year
21995               120,000.00 - 160,000.00 $ /yearbonus          year
21996                      45,000.00 - 60,000.00 $ /year          year
21999  40,000.00 - 46,000.00 $ /year+ annual bonus (u...          year

[1758 rows x 2 columns]

Set "Yearly_Hourly" column to "hour" where "Salary" column contains "hour"

In [100]:
filt_hour = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('hour') == True)

for i in df.index[filt_hour == True]:
    df.iloc[i, df.columns.get_loc('yearly_hourly')] = 'hour'

Now we got "hour" in these columns

In [101]:
filt_hour = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('hour') == True)

print(df.loc[filt_hour][['salary', 'yearly_hourly']])

                                    salary yearly_hourly
id
13                    9.00 - 13.00 $ /hour          hour
30                   62.00 - 81.00 $ /hour          hour
43                   15.00 - 16.00 $ /hour          hour
68     13.75 - 16.75 $ /hourYear End Bonus          hour
80                   40.00 - 50.00 $ /hour          hour
...                                    ...           ...
21909                17.00 - 21.00 $ /hour          hour
21912                20.00 - 22.00 $ /hour          hour
21913                50.00 - 55.00 $ /hour          hour
21927                30.00 - 35.00 $ /hour          hour
21998                25.00 - 28.00 $ /hour          hour

[1145 rows x 2 columns]

Take a look at the rows with no "hour" or "year" strings

In [111]:
filt_salary_type = (pd.isna(df['yearly_hourly']) == True) & (pd.isna(df['salary']) == False)

rows_no_clasiff = df.loc[filt_salary_type]['salary']

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print('Rows with no year/hour classification: ', rows_no_clasiff.count())
    print(rows_no_clasiff)

Rows with no year/hour classification:  545
id
23                            Excellent Pay and Incentives
42                                         Up to $32000.00
58                                 Salary, plus commission
70                                        To be discussed.
92                 bonus, 401K matching, medical, vacation
125                                                    DOE
154                                        Up to $45000.00
179                         Negotiable based on experience
183                                      Competitive Wages
209      Burg Simpson offers excellent benefits and com...
225                    Excellent compensation and benefits
451                                          Yearly Salary
484                                      $300 Hiring Bonus
521                            Salary based on experience.
659                                    Bonus Opportunities
897                   Competitive Base Salary + Commission
1056                  Competitive Base Salary + Commission
1064                                  Uncapped commissions
1067                                  $4,000 Sign-On Bonus
1076                                   Bonus Opportunities
1103                                      $1,100.00+ /week
1179     Employee Health/Dental Benefits; 401k Employer...
2002                                        Per experience
2037                 Salary negotiable based on experience
2055        *Excellent compensation and benefits package!*
2086                                 401K, Medical, Dental
2424                               108,887.00 - 141,555.00
2630                                          Up to $18.00
2639                                          Up to $13.00
2651                                          Up to $18.00
2655                                          Up to $14.00
2662                        17,688.94 - 20,971.00 $ /month
2664               Competitive Salary for General Dentists
2669                                          Up to $18.00
2717                                          Up to $15.00
2724                                   Based on Experience
2772                               competitive market rate
2773                                               bonuses
2775                                      Compet Mrkt Rate
2792                                       Up to $30000.00
2851                                          Up to $10.00
2900                          3,137.89 - 3,865.66 $ /month
2941                                 Base Salary + Bonuses
2948                                                   BOE
2964                                                   BOE
3050                                   NHSC Loan Repayment
3059                                          Up to $15.00
3062          Bonus and full benefits package (401K, etc.)
3069                                   Based on Experience
3079                                                   DOE
3087                                          Up to $13.50
3102                                       Up to $31000.00
3106                                                   BOE
3150                                          Up to $14.00
3165                                      Up to $150000.00
3182                                                   BOE
3239                                   Based on experience
3251                                       Up to $92000.00
3254                                                Salary
3300                        17,688.94 - 20,971.00 $ /month
3317                          6,833.33 - 8,060.00 $ /month
3345                          4,224.31 - 6,579.41 $ /month
3399                                           Competitive
3446                                          Up to $40.00
3502                                         Yearly Salary
3600                                          Up to $14.00
3622                          4,905.22 - 6,579.41 $ /month
3625                   Excellent salary and generous bonus
3674                                          Up to $55.00
3711                                       Up to $92000.00
3715                                          Up to $18.00
3732                Sign-On Bonus and Relocation Available
3735                                          Up to $42.00
3738     Salary calculations based on position and expe...
3739                              Competitive Compensation
3834                                          Up to $25.00
4119                   Salary commensurate with experience
4171                       Draw and/or Straight Commission
4251                                       Up to $60000.00
4498               DOE, Competitive, Relocation Assistance
4765                        Paid Days Off, Medical, Dental
4771                          Commensurate with Experience
4774                                        plus incentive
4789     Salary, Commissions, Bonuses, Health Insurance...
4823           Salary Based on Sales Volume and Experience
4854                          Base + Unlimited Commissions
4895                  Salary: Commensurate with experience
4901     Competative Wages, health and life insurance; ...
4936                                   Based on experience
4944                          Commensurate with experience
4977                          Commensurate with Experience
5033                          Commensurate with Experience
5045                        Based on experience plus bonus
5100                                          DOE - Salary
5129                                           Competative
5164                                 base plus commissions
5170                                   Based on experience
5244                                great benefits package
5246                        Full Time Salary with Benefits
5248             We offer competitive salary and benefits.
5249                                       Up to $35000.00
5252                       Competitive Salary and Benefits
5253       Salary Depends on Experience; Bonuses Available
5255                Please submit your salary requirements
5309                          Commensurate with Experience
5314                                       Up to $60000.00
5319                   Salary commensurate with experience
5320                   Salary commensurate with experience
5327                                       Up to $40000.00
5362                                       Up to $55000.00
5376                                       Up to $45000.00
5379                                   bonus based on work
5383                                                   DOE
5400                                                   DOE
5413                                       Up to $60000.00
5415                                       Up to $32000.00
5427                   Salary commensurate with experience
5428     Full time positions offer a full benefits pack...
5435                          Commensurate with Experience
5440                  Salary commensurate with experience.
5516                                       Up to $40000.00
5524                                             Base plus
5537                   Salary commensurate with experience
5540                              Excellent Bonus programs
5542                                 Based upon experience
5546                                       Up to $60000.00
5568                          Commensurate with Experience
5621                          Commensurate with experience
5635                                       Up to $65000.00
5639                                                   DOE
5640                             Great Salary and Benefits
5644                          commensurate with experience
5663                  Excellent Salary and Benefit Package
5664                                       Up to $65000.00
5671                                 Bonuses, merit raises
5701                                            Negotiable
5725         competitive compensation and benefits package
5728                                            Negotiable
5733                                   Based on experience
5738                                          Up to $16.00
5740                                      Up to $125000.00
5758                                       Up to $42000.00
5773                          Commensurate with experience
5780                  Salary commensurate with experience.
5822                                          Up to $20.00
5829                                 Depends on experience
5843     Terrific salary and benefits, including incent...
5848                                       Up to $50000.00
5849                   Salary Commensurate with Experience
5852                     Health Insurance, retirement plan
5863            Salary totally open doe and salary history
5874                             Submit Salary requirement
5889                                            Negotiable
5896                    Salary Benefits and Possible Bonus
5898                                          Up to $20.00
5902                                          Up to $58.00
5916                                       Up to $45000.00
5933                             Downtown parking included
5938                                       Up to $45000.00
5949                          4,362.39 - 5,445.57 $ /month
5959                           Base Salary Plus Commission
5977                                   Based on experience
6760
7361                                           Hourly Wage
7403                           Health Insurance, 401k, PTO
7412                                       Up to $54000.00
7422                                       Up to $85000.00
7428                                       Up to $40000.00
7433                                          Up to $15.00
7499                                    $200/Per Day + gas
7505     0.00 - 960.00 $  bi-weeklyPay increase upon co...
7507                               Salary plus commissions
7529                                      Salary, Benefits
7550                                          Up to $29.00
7556                   Training Pay + Bonuses + Commission
7557                                       Up to $60000.00
7564                                           Up to $9.50
7573                                          Up to $15.00
7575       Salary Based on Experience, Salary plus bonuses
7587                                          Up to $13.00
7614                                       Up to $40000.00
7623                                          Up to $15.00
7634                                          Up to $10.00
7650                                            Commission
7713                                       Up to $30000.00
7714                                           Up to $9.94
7731           Car allowance and performance based bonuses
7732             • Generous salary aligned with experience
7736                                          Up to $15.00
7742                                          Up to $14.00
7769                                           Competitive
7779                                       Up to $26000.00
7800                                          Up to $16.00
7802                                       Up to $31000.00
7852                                          Up to $10.00
7868                                          Up to $15.00
7881                                       Up to $50000.00
7908                                          Up to $20.00
7927     Full Benefits, Bonus Structure & Annual Perfor...
7940                                      Commission Based
7960                                            Commission
7968     Competitive base salary, commission and a comp...
7978                                          Up to $11.00
8033                 Nurse Supervisor- $3000 Sign-On Bonus
8062                                          Up to $19.24
8093                                            negotiable
8119                                          Up to $14.00
8146                                          Up to $19.24
8214            Commensurate with experience and education
8251                                          Up to $15.00
8291     tax-free stipend provided to the family or hos...
8306                                                   DOE
8616                       Hourly wage based on experience
8617                                       Up to $90000.00
8668                           1,000.00 - 1,500.00 $ /week
8683                                                   DOE
8694        Base + Commission= Total Compensation ($100K+)
8899              Excellent benefits package, Health, 401k
8901                          Commensurate with Experience
8905                                     Benefits elegible
8906                    Full Benefits Plus Company Vehicle
8908                          Commensurate with Experience
8909                               600.00 - 800.00 $ /week
8919                          Commensurate with Experience
8930     Compensation is based on experience, and owner...
8963                          Commensurate with Experience
8972                Competitive plus relocation assistance
8974                          Commensurate with Experience
8984                          Commensurate with Experience
8993                          Commensurate with Experience
9013                                      TO BE DETERMINED
9025             Monthly bonuses based on achieving quotas
9074                          Commensurate with Experience
9093                          Commensurate with Experience
9098                          Commensurate with Experience
9107                          Commensurate with Experience
9124                          Commensurate with Experience
9144                                       10.30 - 10.30 $
9148                          Commensurate with Experience
9159                               Expected earnings $50k+
9160                          Commensurate with Experience
9174                    Full Benefits Plus Company Vehicle
9184                               600.00 - 800.00 $ /week
9190                                          Base + Bonus
9201                          Commensurate with Experience
9205                                          $Competitive
9208               Competitive salary and benefits package
9237                          Commensurate with Experience
9239                            Shift Differential Applies
9245                          Commensurate with Experience
9261                                       Up to $65000.00
9277                          Commensurate with Experience
9278                               TBD BASED ON EXPERIENCE
9282     competitive salary along with a comprehensive ...
9289                          Commensurate with Experience
9310                                       Up to $35000.00
9322                          Commensurate with Experience
9330                    Full Benefits Plus Company Vehicle
9331                                          Up to $14.00
9367                        Comprehensive Benefits Package
9379                    bonus eligible, shift differential
9381                                        Excellent Base
9410                          Commensurate with Experience
9425                Hourly wages will depend on experience
9437                                         9.00 - 9.00 $
9465        Compensation based on knowledge and experience
9475                          Commensurate with Experience
9497     Compunetics offers a competitive salary and be...
9501                          Commensurate with Experience
9528                                      Up to $100000.00
9529                                        Yearly Bonuses
9538                          Commensurate with Experience
9540                                            Negotiable
9581                            Eligible for monthly bonus
9587                Will be discussed during the interview
9590               Base pay plus aggressive incentive plan
9610                                          Up to $20.00
9703     Position is intended as a Temp-to-Hire. Once h...
9728                          Commensurate with Experience
9731                          Commensurate with Experience
9733                                                Hourly
9736                          Commensurate with Experience
9746                                     Benefits elegible
9780                         Excellent Pay, Benefits, 401k
9805                                        profit sharing
9806           Salary + Benefits + 401(k) + Paid Vacations
9824                                          $Competitive
9842                                        bonus eligible
9899                          Commensurate with experience
9913                                       Up to $38000.00
9915                                       Competitive Pay
9940     W-2, Weekly Paycheck, Great Compensation Packa...
10023                   Excellent salary and bonus program
10024                                      11.00 - 11.00 $
10034                                      Up to $40000.00
10051                                     Up to $120000.00
10092    $Competitive Wages, Shift Differential, Paid V...
10167    "Best Employer" excellent compensation and ben...
10193    W-2, Weekly Paycheck, Great Compensation Packa...
10209                           Salary based on experience
10210                           Salary based on experience
10270    W-2, Weekly Paycheck, Great Compensation Packa...
10322                                        10.21 - 12.01
10366    W-2, Weekly Paycheck, Great Compensation Packa...
10377    $70K/up starting salary commensurate with expe...
10791                               comissions and bonuses
10819                                      Up to $45000.00
10943                                        Yearly Salary
11250                                  Bonus Opportunities
11804    Base salary plus quarterly incentive bonus and...
11832                                         Base + Bonus
11841               Competitive Pay and Excellent Benefits
11884                                         Up to $12.00
11914                                      Up to $55000.00
11972                       Based on Applicable Experience
11991                                     Compet Mrkt Rate
12029                                 Salary with Benefits
12035    2 weeks paid vacation, 6 paid sick days, 10 pa...
12072                                    Salary negotiable
12081                                                  DOE
12107                                         Up to $18.00
12117                                      Up to $35000.00
12123                                         Up to $15.00
12333                         1,800.00 - 3,500.00 $ /month
12565                                          Competitive
12631                                        Full Benefits
12655               Will be discussed during the interview
12719           Bonus plan available for the right person!
12740                                      Bonus Potential
12746                    competitive with bonus incentives
12827                              Dependent on Experience
12847    Salary & excellent benefits (position is not b...
12862           Commensurate with experience and education
12874    Competitive, commensurate with market and expe...
12880                                     Full time Salary
12964                                        Negoiable DOE
12977                                                  DOE
13002                                                  DOE
13030                                                  DOE

We got some values like the following:\
-> Excellent Pay and Incentives\
-> Up to 32000.00\
-> 108,887.00 - 141,555.00\
-> Up to 18.00\
-> 17,688.94 - 20,971.00  /month

In [136]:
numbers = [i for i in range(10)]

num_strings = [str(x) for x in numbers]

#------------------------------------------------------------------------------------------------

filt_salary_type = (pd.isna(df['yearly_hourly']) == True) & (pd.isna(df['salary']) == False)

rows_no_clasiff = df.loc[filt_salary_type]['salary']

#------------------------------------------------------------------------------------------------

for i in df.index[filt_salary_type == True]:
    salary_cell = df.loc[i, 'salary']
    if any(num in salary_cell for num in num_strings):
        print(i, salary_cell)

42 Up to $32000.00
92 bonus, 401K matching, medical, vacation
154 Up to $45000.00
484 $300 Hiring Bonus
1067 $4,000 Sign-On Bonus
1103 $1,100.00+ /week
1179 Employee Health/Dental Benefits; 401k Employer Match
2086 401K, Medical, Dental
2424 108,887.00 - 141,555.00
2630 Up to $18.00
2639 Up to $13.00
2651 Up to $18.00
2655 Up to $14.00
2662 17,688.94 - 20,971.00 $ /month
2669 Up to $18.00
2717 Up to $15.00
2792 Up to $30000.00
2851 Up to $10.00
2900 3,137.89 - 3,865.66 $ /month
3059 Up to $15.00
3062 Bonus and full benefits package (401K, etc.)
3087 Up to $13.50
3102 Up to $31000.00
3150 Up to $14.00
3165 Up to $150000.00
3251 Up to $92000.00
3300 17,688.94 - 20,971.00 $ /month
3317 6,833.33 - 8,060.00 $ /month
3345 4,224.31 - 6,579.41 $ /month
3446 Up to $40.00
3600 Up to $14.00
3622 4,905.22 - 6,579.41 $ /month
3674 Up to $55.00
3711 Up to $92000.00
3715 Up to $18.00
3735 Up to $42.00
3834 Up to $25.00
4251 Up to $60000.00
4789 Salary, Commissions, Bonuses, Health Insurance, 401K with matching, Profit Sharing, AFLAC
4901 Competative Wages, health and life insurance; paid holidays and vacation; 401K
5249 Up to $35000.00
5314 Up to $60000.00
5327 Up to $40000.00
5362 Up to $55000.00
5376 Up to $45000.00
5413 Up to $60000.00
5415 Up to $32000.00
5516 Up to $40000.00
5546 Up to $60000.00
5635 Up to $65000.00
5664 Up to $65000.00
5738 Up to $16.00
5740 Up to $125000.00
5758 Up to $42000.00
5822 Up to $20.00
5848 Up to $50000.00
5898 Up to $20.00
5902 Up to $58.00
5916 Up to $45000.00
5938 Up to $45000.00
5949 4,362.39 - 5,445.57 $ /month
7403 Health Insurance, 401k, PTO
7412 Up to $54000.00
7422 Up to $85000.00
7428 Up to $40000.00
7433 Up to $15.00
7499 $200/Per Day + gas
7505 0.00 - 960.00 $  bi-weeklyPay increase upon completion of training and promotion to Assistant Manager
7550 Up to $29.00
7557 Up to $60000.00
7564 Up to $9.50
7573 Up to $15.00
7587 Up to $13.00
7614 Up to $40000.00
7623 Up to $15.00
7634 Up to $10.00
7713 Up to $30000.00
7714 Up to $9.94
7736 Up to $15.00
7742 Up to $14.00
7779 Up to $26000.00
7800 Up to $16.00
7802 Up to $31000.00
7852 Up to $10.00
7868 Up to $15.00
7881 Up to $50000.00
7908 Up to $20.00
7978 Up to $11.00
8033 Nurse Supervisor- $3000 Sign-On Bonus
8062 Up to $19.24
8119 Up to $14.00
8146 Up to $19.24
8251 Up to $15.00
8617 Up to $90000.00
8668 1,000.00 - 1,500.00 $ /week
8694 Base + Commission= Total Compensation ($100K+)
8899 Excellent benefits package, Health, 401k
8909 600.00 - 800.00 $ /week
9144 10.30 - 10.30 $
9159 Expected earnings $50k+
9184 600.00 - 800.00 $ /week
9261 Up to $65000.00
9310 Up to $35000.00
9331 Up to $14.00
9437 9.00 - 9.00 $
9528 Up to $100000.00
9610 Up to $20.00
9703 Position is intended as a Temp-to-Hire. Once hired on, eligible for standard benefits package - health, dental, vision, 401k, STD, LTD, vacation, paid holidays.
9780 Excellent Pay, Benefits, 401k
9806 Salary + Benefits + 401(k) + Paid Vacations
9913 Up to $38000.00
9940 W-2, Weekly Paycheck, Great Compensation Package and Incentives
10024 11.00 - 11.00 $
10034 Up to $40000.00
10051 Up to $120000.00
10092 $Competitive Wages, Shift Differential, Paid Vacation, 401k Plan
10193 W-2, Weekly Paycheck, Great Compensation Package and Incentives
10270 W-2, Weekly Paycheck, Great Compensation Package and Incentives
10322 10.21 - 12.01
10366 W-2, Weekly Paycheck, Great Compensation Package and Incentives
10377 $70K/up starting salary commensurate with experience.
10819 Up to $45000.00
11884 Up to $12.00
11914 Up to $55000.00
12035 2 weeks paid vacation, 6 paid sick days, 10 paid holidays, full package
12107 Up to $18.00
12117 Up to $35000.00
12123 Up to $15.00
12333 1,800.00 - 3,500.00 $ /month
13217 12.00 - 12.00 $ /week
13554 5,882.93 - 7,883.20 $ /month
13746 Up to $15.00
13795 Full medical, dental, vision coverage; 401K, Life Insurance policy
13964 Up to $15.00
13966 Up to $15.00
13991 Up to $15.00
14011 DOE, Medical, Dental, Vision, 401K, Annual Bonus
14035 Up to $15.00
14039 Up to $15.00
14061 Up to $15.00
14067 Up to $52000.00
14069 Up to $15.00
14137 DOE, Health and Dental, 401(k) Matching, Bonus
14150 3,674.00 - 4,690.00 $ /month
14209 401k match up to 7 1/2%, Employee Stock Ownership Plan of company stock, Annual Incentive Payout
14558 6,401.00 - 7,935.00 $ /month
14785 Paid Vacations, Health Care Benefits, 401K
15005 Paid Vacations, Health Care Benefits, 401K
15189 1,878.00 - 1,878.00 $ /month
16337 5,153.00 - 6,264.00 $ /month
17074 $72k-$100k Commissions
17102 W-2, Weekly Paycheck, Great Compensation Package and Incentives
17122 31,054.00 - 31,054.00 $
17170 13.00
17523 8.00
17602 $12.50-13.00
17609 4,900.00 - 6,125.00 $ /month
17637 12.50
17663 8.00
17699 W-2, Weekly Paycheck, Great Compensation Package and Incentives
17879 150.00 - 300.00 $ /per daycommission
17954 W-2, Weekly Paycheck, Great Compensation Package and Incentives
17972 40,000.00 - 60,000.00 $
18048 $13.50 to $14.00 depending upon experien
18109 6,000.00 - 10,000.00 $ /month
18123 31,054.00 - 31,054.00 $
18177 8.00
18281 5,000.00 - 15,000.00 $ /monthPlus Bonuses
18289 12.50
18750 $75/HR with Bonus
18833 W-2, Weekly Paycheck, Great Compensation Package and Incentives
19265 3,293.00 - 4,542.00 $ /month
19359 Hourly Rate and Cash Tips every shift - this can equal out to $18-20/hr
19464 $1000 HIRING BONUS
19565 W-2, Weekly Paycheck, Great Compensation Package and Incentives
19590 W-2, Weekly Paycheck, Great Compensation Package and Incentives
20014 Up to $14.00
21168 Up to $20.00
21233 900.00 - 1,200.00 $ /per dayPer Class
21270 Up to $31500.00
21328 Competitive wage plus benefits: medical, dental, visioin, life, 401k, profit sharing
21428 $Competitive Wages, Shift Differential, Paid Vacation, 401k Plan
21599 Base+Commission+Benefits+Car/Expenses/401K
21731 Medical, Dental, Vision, 401k, Company Vehicle
21902 Up to $35000.00
21925 $250.00+ /week7-9% commisson depending on sales volume

In [119]:
df[['salary']]

                                                  salary
id
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
21995               120,000.00 - 160,000.00 $ /yearbonus
21996                      45,000.00 - 60,000.00 $ /year
21997                                                NaN
21998                              25.00 - 28.00 $ /hour
21999  40,000.00 - 46,000.00 $ /year+ annual bonus (u...

[22000 rows x 1 columns]

In [48]:
df

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,from_salary,to_salary,yearly_hourly,sector,uniq_id
0,United States of America,US,NaN,No,jobs.monster.com,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,NaN,NaN,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e
1,United States of America,US,NaN,No,jobs.monster.com,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,NaN,NaN,NaN,e4cbb126dabf22159aff90223243ff2a
2,United States of America,US,NaN,No,jobs.monster.com,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,NaN,NaN,NaN,839106b353877fa3d896ffb9c1fe01c0
3,United States of America,US,NaN,No,jobs.monster.com,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,NaN,NaN,NaN,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
4,United States of America,US,NaN,No,jobs.monster.com,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,NaN,NaN,NaN,Project/Program Management,64d0272dc8496abfd9523a8df63c184c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,United States of America,US,NaN,No,jobs.monster.com,This is a major premier Cincinnati based finan...,Assistant Vice President - Controller Job in C...,Full Time,"Cincinnati, OH",NaN,http://jobview.monster.com/Assistant-Vice-Pres...,"120,000.00 - 160,000.00 $ /yearbonus",NaN,NaN,NaN,NaN,a80bc8cc3a90c17eef418963803bc640
21996,United States of America,US,NaN,No,jobs.monster.com,Luxury homebuilder in Cincinnati seeking multi...,Accountant Job in Cincinnati,Full Time,"Cincinnati, OH 45236",Construction - Residential & Commercial/Office,http://jobview.monster.com/Accountant-Job-Cinc...,"45,000.00 - 60,000.00 $ /year",NaN,NaN,NaN,Manager (Manager/Supervisor of Staff),419a3714be2b30a10f628de207d041de
21997,United States of America,US,NaN,No,jobs.monster.com,RE: Adobe AEM- Client - Loca...,AEM/CQ developer Job in Chicago,Full Time,"Chicago, IL 60602",NaN,http://jobview.monster.com/AEM-CQ5-developer-J...,NaN,NaN,NaN,NaN,NaN,5a590350b73b2cec46b05750a208e345
21998,United States of America,US,NaN,No,jobs.monster.com,Jernberg Industries was established in 1937 an...,Electrician - Experienced Forging Electrician ...,Full Time Employee,"Chicago, IL 60609","Jernberg Industries, Inc.",http://jobview.monster.com/Electrician-Experie...,25.00 - 28.00 $ /hour,NaN,NaN,NaN,Installation/Maintenance/Repair,40161cf61c283af9dc2b0a62947a5f1b
21999,United States of America,US,NaN,No,jobs.monster.com,Contract AdministratorCan you be the point per...,Contract Administrator Job in Cincinnati,Full Time,"Cincinnati, OH",NaN,http://jobview.monster.com/Contract-Administra...,"40,000.00 - 46,000.00 $ /year+ annual bonus (u...",NaN,NaN,NaN,Experienced (Non-Manager),cb49f16ad72627b109e434e0cac97f7a

Dictionary + astype to convert column dtype

In [16]:
# convert_dict = {'salary': float}

# df = df.astype(convert_dict)

In [17]:
df.dtypes

country            object
country_code       object
date_added         object
has_expired        object
job_board          object
job_description    object
job_title          object
job_type           object
location           object
organization       object
page_url           object
salary             object
sector             object
uniq_id            object
dtype: object

'Apply' method to convert column dtype

Empty cells by column
What can we do about these columns?

-> date_added:
 <br />-> job_type: 
 <br />-> organization: 
 <br />-> salary:
 <br />-> sector:

In [18]:
df.isnull().sum()

country                0
country_code           0
date_added         21878
has_expired            0
job_board              0
job_description        0
job_title              0
job_type            1628
location               0
organization        6867
page_url               0
salary             18554
sector              5194
uniq_id                0
dtype: int64