# US Monster Jobs Dataset Cleansing

Personal checklist:
-> Standarization of data: Fix inconsistent column names and convert into a standard format

In [2]:
import pandas as pd

import numpy as np

In [3]:
df = pd.read_csv('C:\\Users\\jorge\\Desktop\\monster_com-job_sample.csv')

# Overview of dataset

In [4]:
df.shape

(22000, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   date_added       122 non-null    object
 3   has_expired      22000 non-null  object
 4   job_board        22000 non-null  object
 5   job_description  22000 non-null  object
 6   job_title        22000 non-null  object
 7   job_type         20372 non-null  object
 8   location         22000 non-null  object
 9   organization     15133 non-null  object
 10  page_url         22000 non-null  object
 11  salary           3446 non-null   object
 12  sector           16806 non-null  object
 13  uniq_id          22000 non-null  object
dtypes: object(14)
memory usage: 2.3+ MB

# 1. Standarization of data
-> Column names/format: I don't see any relevant errors in the column name format. Am I missing something?
 <br />No caps, no format differences between one name and another.

In [6]:
df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'sector', 'uniq_id'],
      dtype='object')

# 2. Data Type Conversion
Data in df is of 'object' type. We'll have to convert the data type of the columns according to the data in each one of them.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   date_added       122 non-null    object
 3   has_expired      22000 non-null  object
 4   job_board        22000 non-null  object
 5   job_description  22000 non-null  object
 6   job_title        22000 non-null  object
 7   job_type         20372 non-null  object
 8   location         22000 non-null  object
 9   organization     15133 non-null  object
 10  page_url         22000 non-null  object
 11  salary           3446 non-null   object
 12  sector           16806 non-null  object
 13  uniq_id          22000 non-null  object
dtypes: object(14)
memory usage: 2.3+ MB

# 2.1 Empty cells per column?

We have a ton of missing data in date_added, job_type, organization, salary and sector.

In [8]:
df.isnull().sum()

country                0
country_code           0
date_added         21878
has_expired            0
job_board              0
job_description        0
job_title              0
job_type            1628
location               0
organization        6867
page_url               0
salary             18554
sector              5194
uniq_id                0
dtype: int64

The only value in the 'Country' column is the US. I guess it makes sense when using a 'US Monster Jobs' dataset.

In [9]:
print(df['country'].value_counts())

print('-----------------------------------')

print(df['country_code'].value_counts())

United States of America    22000
Name: country, dtype: int64
-----------------------------------
US    22000
Name: country_code, dtype: int64

# 2.2 Convert date_added to date dtype

In [10]:
df.loc[df['date_added'].notnull()]

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
133,United States of America,US,5/10/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Multibed Technician Job in Deer Park,Full Time Employee,"Deer Park, TX",Other/Not Classified,http://jobview.monster.com/Multibed-Technician...,NaN,Other,6f6e952b8b0a2bb55e9feada54db2347
140,United States of America,US,5/13/2016,No,jobs.monster.com,Equal Opportunity Employer: Minority/Female/Di...,Principal Cyber Security Engineer Job in Houston,Full Time Employee,"Houston, TX",Computer SoftwareComputer/IT Services,http://jobview.monster.com/Principal-Cyber-Sec...,NaN,IT/Software Development,1127457851cf28d79a39fd4b35867982
251,United States of America,US,5/9/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Field Supervisor IS Job in Deer Park,Full Time Employee,"Deer Park, TX",Other/Not Classified,http://jobview.monster.com/Field-Supervisor-IS...,NaN,Other,94b49d291a16d01b27378ca97e653910
279,United States of America,US,6/10/2016,No,jobs.monster.com,"At American Family Insurance, we're firmly com...",Insurance Sales - Customer Service Job in Eden...,Full Time Employee,"Eden Prairie, MN 55344",Insurance,http://jobview.monster.com/insurance-sales-cus...,15.00 - 21.00 $ /hour,Accounting/Finance/Insurance,64a597e5dd17740aadf4b0e8047b51a5
366,United States of America,US,1/2/2017,No,jobs.monster.com,Description The Opportunity The Vehicle Mainte...,Vehicle Maintenance Mechanic - Las Vegas,Full Time Employee,"Las Vegas, NV",Energy and Utilities,http://jobview.monster.com/vehicle-maintenance...,NaN,Installation/Maintenance/Repair,886903d4dda03046c2a826c44bfff3dc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20760,United States of America,US,9/27/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Central Maintenance Planner Job in Norwell,Full Time Employee,"Norwell, MA",Other/Not Classified,http://jobview.monster.com/central-maintenance...,NaN,Administrative/Clerical,7b115d764f741821bae4ac95bfcf3f04
21342,United States of America,US,3/30/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Branch Manager Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Branch-Manager-Job-...,NaN,Other,1db7d013265871214d3f4e7ed80d8a23
21391,United States of America,US,3/24/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Field Service Driver Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Field-Service-Drive...,NaN,Logistics/Transportation,4f304e6285b240f8442a028bc3716273
21631,United States of America,US,4/4/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Field Project Manager Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Field-Project-Manag...,NaN,Other,6f86e1f35ad082be591bcec15c75f947
21696,United States of America,US,3/24/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Environmental Technician CBPP Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Environmental-Techn...,NaN,Biotech/R&D/Science,a0afd50db433d785e97665e4e9345815

In [11]:
lista = [(i + ''': ''' + str(df.dtypes[i])) for i in dict(df.dtypes)]

print(lista)

['country: object', 'country_code: object', 'date_added: object', 'has_expired: object', 'job_board: object', 'job_description: object', 'job_title: object', 'job_type: object', 'location: object', 'organization: object', 'page_url: object', 'salary: object', 'sector: object', 'uniq_id: object']

# Fix salary column

# Visualize full df rows

Code in next cell allows us to view rows in text editor.

In [12]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df[['salary']].head(15))

                           salary
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN
5                             NaN
6                             NaN
7                             NaN
8                             NaN
9                             NaN
10                            NaN
11                            NaN
12                            NaN
13           9.00 - 13.00 $ /hour
14  80,000.00 - 95,000.00 $ /year

I wanted to have a better idea of the data in the column.

The "Salary" column is a mess. We got:\
80,000.00 - 95,000.00 /year\
45,000.00 - 100,000.00 /yearBonus, Benefits,\
40,000.00 - 50,000.00 /yearsalary\
56,000.00 - 64,000.00 /yearHighly Competitiv\
13.00 - 16.00 /year\
0.00 - 90,000.00 /year\
45,000.00+ /year\
0.00 - 1.00 /year

Next code block shows rows with "year" string in it. "Salary" column.

In [13]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('year') == True)

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df.loc[filt]['salary'].head(15))

14                         80,000.00 - 95,000.00 $ /year
19                         60,000.00 - 72,000.00 $ /year
29                        70,000.00 - 100,000.00 $ /year
32                        75,000.00 - 100,000.00 $ /year
36                         68,000.00 - 72,000.00 $ /year
41                         58,000.00 - 65,000.00 $ /year
61     45,000.00 - 100,000.00 $ /yearBonus, Benefits,...
64                   40,000.00 - 50,000.00 $ /yearsalary
82                         80,000.00 - 90,000.00 $ /year
83                         35,000.00 - 45,000.00 $ /year
88                        80,000.00 - 100,000.00 $ /year
100                        31,000.00 - 33,000.00 $ /year
117                      100,000.00 - 120,000.00 $ /year
127                       75,000.00 - 100,000.00 $ /year
132                                    $50,000.00+ /year
Name: salary, dtype: object

# Add extra columns for analysis

In [14]:
df.columns.get_loc('salary')

11

In [15]:
df.insert(12, 'from_salary', np.nan)

df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'from_salary', 'sector', 'uniq_id'],
      dtype='object')

In [16]:
df.insert(13, 'to_salary', np.nan)

df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'from_salary', 'to_salary', 'sector', 'uniq_id'],
      dtype='object')

In [17]:
df.insert(14, 'yearly_hourly', np.nan)

df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'from_salary', 'to_salary', 'yearly_hourly',
       'sector', 'uniq_id'],
      dtype='object')

In [18]:
df.index.names = ['id']

# Salary column copy
I copied the data in "salary" to "salary_copy"

In [19]:
df['salary_copy'] = df['salary']

In [20]:
df[['salary', 'salary_copy']]

,salary,salary_copy
id,,
0,NaN,NaN
1,NaN,NaN
2,NaN,NaN
3,NaN,NaN
4,NaN,NaN
...,...,...
21995,"120,000.00 - 160,000.00 $ /yearbonus","120,000.00 - 160,000.00 $ /yearbonus"
21996,"45,000.00 - 60,000.00 $ /year","45,000.00 - 60,000.00 $ /year"
21997,NaN,NaN
21998,25.00 - 28.00 $ /hour,25.00 - 28.00 $ /hour
21999,"40,000.00 - 46,000.00 $ /year+ annual bonus (u...","40,000.00 - 46,000.00 $ /year+ annual bonus (u..."

# Split salary string
Now that I got the columns I'm splitting the strings into each one of them.\
Try to make sense of the data.

In [21]:
df['yearly_hourly']

id
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
21995   NaN
21996   NaN
21997   NaN
21998   NaN
21999   NaN
Name: yearly_hourly, Length: 22000, dtype: float64

In [22]:
df['from_salary'] = df['from_salary'].astype(str)

df['to_salary'] = df['to_salary'].astype(str)


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   date_added       122 non-null    object
 3   has_expired      22000 non-null  object
 4   job_board        22000 non-null  object
 5   job_description  22000 non-null  object
 6   job_title        22000 non-null  object
 7   job_type         20372 non-null  object
 8   location         22000 non-null  object
 9   organization     15133 non-null  object
 10  page_url         22000 non-null  object
 11  salary           3446 non-null   object
 12  from_salary      22000 non-null  object
 13  to_salary        22000 non-null  object
 14  yearly_hourly    0 non-null      float64
 15  sector           16806 non-null  object
 16  uniq_id          22000 non-null  object
 17  salary_copy      3446 non-null   object
dtypes: float64(1), object(17)
memory usage: 3.0+ MB

# Salary/Year Loop

Set "Yearly_Hourly" column to "year" where "Salary" column contains "year"

In [23]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('year') == True)

for i in df.index[filt == True]:
    from_sal = df.iloc[i, df.columns.get_loc('from_salary')]
    to_sal = df.iloc[i, df.columns.get_loc('to_salary')]
    
    df.iloc[i, df.columns.get_loc('yearly_hourly')] = 'year'
    
    split_salary = df.iloc[i, df.columns.get_loc('salary')].split('-', 1)  # Split "Salary" string in 2. That's why we specify "1" inside the split. That means first ocurrence.
    
    if len(split_salary) == 1:
        df.at[i, 'from_salary'] = np.nan   # Set to NaN while I find what to do with salaries without specific range like "Up to $60,000"
        df.at[i, 'to_salary'] = split_salary[0]   # Set to the max value, for ex. if it says "Up to $60,000" then it is $60,000
    elif len(split_salary) == 2:
        df.at[i, 'from_salary'] = split_salary[0]   # We assign FIRST value of the split. Most of the strings are of the "$50,000 - $70,000" type
        df.at[i, 'to_salary'] = split_salary[1]   # We assign SECOND value of the split. Most of the strings are of the "$50,000 - $70,000" type

# Salary/Hour Loop

In [24]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('hour') == True)

for i in df.index[filt == True]:
    from_sal = df.iloc[i, df.columns.get_loc('from_salary')]
    to_sal = df.iloc[i, df.columns.get_loc('to_salary')]
    
    df.iloc[i, df.columns.get_loc('yearly_hourly')] = 'hour'
    
    split_salary = df.iloc[i, df.columns.get_loc('salary')].split('-', 1)
    
    if len(split_salary) == 1:
        df.at[i, 'from_salary'] = np.nan
        df.at[i, 'to_salary'] = split_salary[0]
    elif len(split_salary) == 2:
        df.at[i, 'from_salary'] = split_salary[0]
        df.at[i, 'to_salary'] = split_salary[1]

# Salary per Month

In [25]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains("""/month""") == True)

for i in df.index[filt == True]:
    from_sal = df.iloc[i, df.columns.get_loc('from_salary')]
    to_sal = df.iloc[i, df.columns.get_loc('to_salary')]
    
    df.iloc[i, df.columns.get_loc('yearly_hourly')] = 'month'
    
    split_salary = df.iloc[i, df.columns.get_loc('salary')].split('-', 1)
    
    if len(split_salary) == 1:
        df.at[i, 'from_salary'] = np.nan
        df.at[i, 'to_salary'] = split_salary[0]
    elif len(split_salary) == 2:
        df.at[i, 'from_salary'] = split_salary[0]
        df.at[i, 'to_salary'] = split_salary[1]

# Up to... Loop

In [26]:
filt_upto = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('Up to') == True)

df.loc[filt_upto]['salary']

for i in df.index[filt_upto == True]:
    split_salary = df.iloc[i, df.columns.get_loc('salary')].split('$', 1)
    if len(split_salary[1]) > 5:
        df.at[i, 'from_salary'] = np.nan
        df.at[i, 'to_salary'] = split_salary[1]
        df.at[i, 'yearly_hourly'] = 'upto'
    elif len(split_salary[1]) < 6:
        df.at[i, 'from_salary'] = np.nan
        df.at[i, 'to_salary'] = split_salary[1]
        df.at[i, 'yearly_hourly'] = 'uptohour'

# View year results

In [27]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('year') == True)

df.loc[filt][['salary', 'from_salary', 'to_salary', 'yearly_hourly']]

,salary,from_salary,to_salary,yearly_hourly
id,,,,
14,"80,000.00 - 95,000.00 $ /year","80,000.00","95,000.00 $ /year",year
19,"60,000.00 - 72,000.00 $ /year","60,000.00","72,000.00 $ /year",year
29,"70,000.00 - 100,000.00 $ /year","70,000.00","100,000.00 $ /year",year
32,"75,000.00 - 100,000.00 $ /year","75,000.00","100,000.00 $ /year",year
36,"68,000.00 - 72,000.00 $ /year","68,000.00","72,000.00 $ /year",year
...,...,...,...,...
21982,"70,000.00 - 80,000.00 $ /year","70,000.00","80,000.00 $ /year",year
21987,"$80,000.00+ /year",NaN,"$80,000.00+ /year",year
21995,"120,000.00 - 160,000.00 $ /yearbonus","120,000.00","160,000.00 $ /yearbonus",year
21996,"45,000.00 - 60,000.00 $ /year","45,000.00","60,000.00 $ /year",year
21999,"40,000.00 - 46,000.00 $ /year+ annual bonus (u...","40,000.00","46,000.00 $ /year+ annual bonus (up to 15% of...",year

# View hour results

In [28]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('hour') == True)

df.loc[filt][['salary', 'from_salary', 'to_salary', 'yearly_hourly']]

,salary,from_salary,to_salary,yearly_hourly
id,,,,
13,9.00 - 13.00 $ /hour,9.00,13.00 $ /hour,hour
30,62.00 - 81.00 $ /hour,62.00,81.00 $ /hour,hour
43,15.00 - 16.00 $ /hour,15.00,16.00 $ /hour,hour
68,13.75 - 16.75 $ /hourYear End Bonus,13.75,16.75 $ /hourYear End Bonus,hour
80,40.00 - 50.00 $ /hour,40.00,50.00 $ /hour,hour
...,...,...,...,...
21909,17.00 - 21.00 $ /hour,17.00,21.00 $ /hour,hour
21912,20.00 - 22.00 $ /hour,20.00,22.00 $ /hour,hour
21913,50.00 - 55.00 $ /hour,50.00,55.00 $ /hour,hour
21927,30.00 - 35.00 $ /hour,30.00,35.00 $ /hour,hour
21998,25.00 - 28.00 $ /hour,25.00,28.00 $ /hour,hour

# View Monthly

In [29]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains("""/month""") == True)

df.loc[filt][['salary', 'from_salary', 'to_salary', 'yearly_hourly']]

,salary,from_salary,to_salary,yearly_hourly
id,,,,
2662,"17,688.94 - 20,971.00 $ /month","17,688.94","20,971.00 $ /month",month
2900,"3,137.89 - 3,865.66 $ /month","3,137.89","3,865.66 $ /month",month
3300,"17,688.94 - 20,971.00 $ /month","17,688.94","20,971.00 $ /month",month
3317,"6,833.33 - 8,060.00 $ /month","6,833.33","8,060.00 $ /month",month
3345,"4,224.31 - 6,579.41 $ /month","4,224.31","6,579.41 $ /month",month
3622,"4,905.22 - 6,579.41 $ /month","4,905.22","6,579.41 $ /month",month
5949,"4,362.39 - 5,445.57 $ /month","4,362.39","5,445.57 $ /month",month
12333,"1,800.00 - 3,500.00 $ /month","1,800.00","3,500.00 $ /month",month
13554,"5,882.93 - 7,883.20 $ /month","5,882.93","7,883.20 $ /month",month
14150,"3,674.00 - 4,690.00 $ /month","3,674.00","4,690.00 $ /month",month
14558,"6,401.00 - 7,935.00 $ /month","6,401.00","7,935.00 $ /month",month
15189,"1,878.00 - 1,878.00 $ /month","1,878.00","1,878.00 $ /month",month
16337,"5,153.00 - 6,264.00 $ /month","5,153.00","6,264.00 $ /month",month
17609,"4,900.00 - 6,125.00 $ /month","4,900.00","6,125.00 $ /month",month
18109,"6,000.00 - 10,000.00 $ /month","6,000.00","10,000.00 $ /month",month
18281,"5,000.00 - 15,000.00 $ /monthPlus Bonuses","5,000.00","15,000.00 $ /monthPlus Bonuses",month
19265,"3,293.00 - 4,542.00 $ /month","3,293.00","4,542.00 $ /month",month

# View Up to...

In [30]:
filt = (pd.isna(df['salary']) == False) & (df['yearly_hourly'].str.contains('upto') == True)

df.loc[filt][['salary', 'from_salary', 'to_salary', 'yearly_hourly']]

                salary from_salary to_salary yearly_hourly
id
42     Up to $32000.00         NaN  32000.00          upto
154    Up to $45000.00         NaN  45000.00          upto
2630      Up to $18.00         NaN     18.00      uptohour
2639      Up to $13.00         NaN     13.00      uptohour
2651      Up to $18.00         NaN     18.00      uptohour
...                ...         ...       ...           ...
14069     Up to $15.00         NaN     15.00      uptohour
20014     Up to $14.00         NaN     14.00      uptohour
21168     Up to $20.00         NaN     20.00      uptohour
21270  Up to $31500.00         NaN  31500.00          upto
21902  Up to $35000.00         NaN  35000.00          upto

[101 rows x 4 columns]

# View others
There are still some hourly/yearly salaries in a different format.\
I don't think including any of these is relevant for the data nor is going to make a difference.
I am leaving the rest of the rows as NaN.

In [64]:
filt = (pd.isna(df['salary']) == False) & (pd.isna(df['yearly_hourly']) == True)

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df.loc[filt][['salary', 'from_salary', 'to_salary', 'yearly_hourly']].head(20))

                                                 salary from_salary to_salary  \
id
23                         Excellent Pay and Incentives         NaN       nan
58                              Salary, plus commission         NaN       nan
70                                     To be discussed.         NaN       nan
92              bonus, 401K matching, medical, vacation         NaN       nan
125                                                 DOE         NaN       nan
179                      Negotiable based on experience         NaN       nan
183                                   Competitive Wages         NaN       nan
209   Burg Simpson offers excellent benefits and com...         NaN       nan
225                 Excellent compensation and benefits         NaN       nan
451                                       Yearly Salary         NaN       nan
484                                   $300 Hiring Bonus         NaN       nan
521                         Salary based on experience.         NaN       nan
659                                 Bonus Opportunities         NaN       nan
897                Competitive Base Salary + Commission         NaN       nan
1056               Competitive Base Salary + Commission         NaN       nan
1064                               Uncapped commissions         NaN       nan
1067                               $4,000 Sign-On Bonus         NaN       nan
1076                                Bonus Opportunities         NaN       nan
1103                                   $1,100.00+ /week         NaN       nan
1179  Employee Health/Dental Benefits; 401k Employer...         NaN       nan

     yearly_hourly
id
23             NaN
58             NaN
70             NaN
92             NaN
125            NaN
179            NaN
183            NaN
209            NaN
225            NaN
451            NaN
484            NaN
521            NaN
659            NaN
897            NaN
1056           NaN
1064           NaN
1067           NaN
1076           NaN
1103           NaN
1179           NaN

# Clean "from_salary" & "to_salary" columns
We have the salaries mixed with different strings and symbols.

In [65]:
df[['from_salary', 'to_salary']]

filt = (pd.isna(df['salary']) == False) & (pd.isna(df['yearly_hourly']) == True)

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df.loc[:, ['from_salary', 'to_salary', 'yearly_hourly']].head(20))

   from_salary           to_salary yearly_hourly
id
0          NaN                 nan           NaN
1          NaN                 nan           NaN
2          NaN                 nan           NaN
3          NaN                 nan           NaN
4          NaN                 nan           NaN
5          NaN                 nan           NaN
6          NaN                 nan           NaN
7          NaN                 nan           NaN
8          NaN                 nan           NaN
9          NaN                 nan           NaN
10         NaN                 nan           NaN
11         NaN                 nan           NaN
12         NaN                 nan           NaN
13       9.00        13.00 $ /hour          hour
14  80,000.00    95,000.00 $ /year          year
15         NaN                 nan           NaN
16         NaN                 nan           NaN
17         NaN                 nan           NaN
18         NaN                 nan           NaN
19  60,000.00    72,000.00 $ /year          year

Copy of "from_salary" and "to_salary" columns

In [33]:
df['copy_from_salary'] = df['from_salary']

df['copy_to_salary'] = df['to_salary']

Make corrections for the nan values in the "from_salary" column

In [34]:
df.loc[42, ['from_salary']].apply(type) #NaN IS EQUAL TO FLOAT TYPE

from_salary    <class 'float'>
Name: 42, dtype: object

In [35]:
df.loc[0, ['from_salary']].apply(type) #nan IS EQUAL TO STRING TYPE

from_salary    <class 'str'>
Name: 0, dtype: object

Some of the nan values were actually strings, so the np.nan filter didn't get them. I had to look them as 'nan'.

In [36]:
df['from_salary'] = df['from_salary'].astype(str)

In [37]:
df.loc[42, ['from_salary']].apply(type) #value is now changed to string type

from_salary    <class 'str'>
Name: 42, dtype: object

Next code block replaces the 'nan' values for np.nan or Null values.

In [38]:
df['from_salary'].replace(to_replace= 'nan', value= np.nan, inplace=True)

Now we have the 'nan' values as Null and the rest of the values (70,000.00, $10.00) as strings.

In [66]:
filt_from_salary = df.loc[df['from_salary'].notnull(), ['from_salary']]

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(filt_from_salary.head(20))

     from_salary
id
13         9.00
14    80,000.00
19    60,000.00
29    70,000.00
30        62.00
32    75,000.00
36    68,000.00
41    58,000.00
43        15.00
61    45,000.00
64    40,000.00
68        13.75
80        40.00
82    80,000.00
83    35,000.00
88    80,000.00
100   31,000.00
111       50.00
117  100,000.00
121       17.00

# 'From_salary' Loop

In [71]:
filt_from_salary = df['from_salary'].notnull() == True

for i in df.index[filt_from_salary]:
    val_from = df.loc[i, 'from_salary']
    GetVals = list([char for char in val_from if char.isnumeric() or char == '.'])
    df.loc[i, 'from_salary'] = ''.join(GetVals)

In [72]:
df['from_salary']

id
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
21995    120000.00
21996     45000.00
21997          NaN
21998        25.00
21999     40000.00
Name: from_salary, Length: 22000, dtype: object

In [73]:
df['from_salary'] = df['from_salary'].astype(float)

In [74]:
df['from_salary']

id
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
21995    120000.0
21996     45000.0
21997         NaN
21998        25.0
21999     40000.0
Name: from_salary, Length: 22000, dtype: float64

# 'To_salary' clean up

In [87]:
print('\n Contar valores \n', df['to_salary'].apply(type).value_counts()) # I wanted to know if there were more data types in the column. 22,000 string cells.

print(df['to_salary'].apply(type))

 Contar valores
 <class 'str'>    22000
Name: to_salary, dtype: int64
id
0        <class 'str'>
1        <class 'str'>
2        <class 'str'>
3        <class 'str'>
4        <class 'str'>
             ...
21995    <class 'str'>
21996    <class 'str'>
21997    <class 'str'>
21998    <class 'str'>
21999    <class 'str'>
Name: to_salary, Length: 22000, dtype: object

In [97]:
df.loc[(df['to_salary'] == 'nan') == True, 'to_salary'].count() # Check how many 'nan' values we have in the column. They should be Null (np.nan)

18982

In [98]:
df['to_salary'].replace(to_replace= 'nan', value= np.nan, inplace=True)

In [118]:
nan_values = df.loc[(df['to_salary'] == 'nan') == True, 'to_salary'].count()

print('nan values: ', nan_values)

Null_values = len(df.loc[(df['to_salary'].isnull()) == True, 'to_salary'])

print('Null values: ', Null_values)

nan values:  0
Null values:  18982

In [128]:
filt_tosalary = df['to_salary'].isnull() == False

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df.loc[filt_tosalary, 'to_salary'].head(15))

id
13                               13.00 $ /hour
14                           95,000.00 $ /year
19                           72,000.00 $ /year
29                          100,000.00 $ /year
30                               81.00 $ /hour
32                          100,000.00 $ /year
36                           72,000.00 $ /year
41                           65,000.00 $ /year
42                                    32000.00
43                               16.00 $ /hour
61     100,000.00 $ /yearBonus, Benefits, 401k
64                     50,000.00 $ /yearsalary
68                 16.75 $ /hourYear End Bonus
80                               50.00 $ /hour
82                           90,000.00 $ /year
Name: to_salary, dtype: object

# 'To_salary' Loop

In [146]:
df['count_occurences'] = df['to_salary'].str.count('\.')

print(df['count_occurences'])

id
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
21995    1.0
21996    1.0
21997    NaN
21998    1.0
21999    1.0
Name: count_occurences, Length: 22000, dtype: float64

In [132]:
df['to_salary']

id
0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      NaN
4                                                      NaN
                               ...
21995                              160,000.00 $ /yearbonus
21996                                    60,000.00 $ /year
21997                                                  NaN
21998                                        28.00 $ /hour
21999     46,000.00 $ /year+ annual bonus (up to 15% of...
Name: to_salary, Length: 22000, dtype: object

In [130]:
# if cell has a '.' then we are splitting the string in 2 parts.
# If we don't split, then we just take out the non numeric and leaving only one '.'
# If we split it, then we clean the first part and take the first 2 decimals from the second

filt_tosalary = df['to_salary'].isnull() == False



for i in df.index[filt_tosalary]:
    if df.loc[i, 'to_salary']

 13.00 $ /hour
 95,000.00 $ /year
 72,000.00 $ /year
 100,000.00 $ /year
 81.00 $ /hour
 100,000.00 $ /year
 72,000.00 $ /year
 65,000.00 $ /year
32000.00
 16.00 $ /hour
 100,000.00 $ /yearBonus, Benefits, 401k
 50,000.00 $ /yearsalary
 16.75 $ /hourYear End Bonus
 50.00 $ /hour
 90,000.00 $ /year
 45,000.00 $ /year
 100,000.00 $ /year
 33,000.00 $ /year
 65.00 $ /hour
 120,000.00 $ /year
 22.00 $ /hour
 100,000.00 $ /year
$50,000.00+ /year
 64,000.00 $ /yearHighly Competitive Base Salary Plus Lucrative Bonus Plan, Benefit Package, in a Highly Diverse, Very Successful Company! Performance Based Upward Mobility Assured.​ Do Not Hesitate, Apply Today.​ Grow with this Nationally Present, Dynamic Restaurant Group
 50.00 $ /hour
 27.00 $ /hour
 130,000.00 $ /yearGenerous Commission plan
45000.00
 85,000.00 $ /year
 110,000.00 $ /year
 100,000.00 $ /year
 12.00 $ /hour
 85,000.00 $ /year
 20.00 $ /hour
$40,000.00+ /year
 82.00 $ /hour
 150,000.00 $ /year
 101,000.00 $ /year
 115,000.00 $ /year
 19.00 $ /hour
 21.00 $ /hour
 16.00 $ /year
 57,000.00 $ /year
 17.00 $ /hour
 100,000.00 $ /year
 19.00 $ /hour
 40.00 $ /hour
 80,000.00 $ /year
 60,000.00 $ /year
 60,000.00 $ /year
 20.00 $ /hour
 23.00 $ /hour
 18.00 $ /hour
 11.00 $ /year
 90,000.00 $ /year
 26.00 $ /hour
 98,000.00 $ /year
$30,000.00+ /yearplus benefits
 14.00 $ /hour
 11.85 $ /hour
 14.00 $ /hour
$10.87+ /hour
$12.00+ /hour
 30.93 $ /hour
 17.00 $ /hour
45,000.00+ /year
 23.00 $ /hour
 12.25 $ /hourPlus benefits
 13.45 $ /hour
 32.00 $ /hour
 110,000.00 $ /year
 130,000.00 /year
 50,000.00 /year
 65.00 $ /hour
 45,000.00 $ /year
 11.00 $ /hourBenefits Package
 13.00 $ /hour
 60,000.00 $ /year
 30.29 $ /hour
 17.00 /hour
 85,000.00 /year
 130,000.00 $ /year
 13.00 $ /hour
 15.00 $ /hour
$16.40+ /hour
 13.00 $ /hour
 105,000.00 /year
 14.00 $ /hour
 65.00 $ /hour
 65,000.00 $ /yearBase + Uncapped Commissions + Benefits
$120,000.00+ /year
 26.92 $ /hour
 21.90 $ /hour
 75,000.00 $ /year
$13.50+ /hour
 75,000.00 $ /year
 18.00 $ /hour
 11.00 $ /hourBenefits + Annual Bonus
 100,000.00 /year
 90,000.00 $ /year
 19.50 $ /hour
 15.00 $ /hour
 79,174.00 $ /year
 10.50 $ /hour+ $300 retention bonus + anniversary bonus + on the spot recognition program + medical, dental, vision, flex spending, and 401K.
 19.00 /hour
 55,000.00 $ /year
 120,000.00 $ /year
 50.00 $ /hour
 66,000.00 $ /yearHighly Competitive Base Salary Plus Lucrative Bonus Plan, Benefit Package, in a Highly Diverse, Very Successful Company! Performance Based Upward Mobility Assured.​ Do Not Hesitate, Apply Today.​ Grow with this Nationally Present, Dynamic Restaurant Group
 15.00 /hour
$120,000.00+ /year
 15.00 $ /year
 35.00 $ /hour
 120.00 $ /hour
 35.00 $ /hour
 40.00 $ /hour
 75,000.00 $ /year
22.00+ /hour
 107,000.00 $ /year
 20.00 $ /hour
 200,000.00 $ /year
 73,644.00 $ /year
 20.00 $ /hour
 85,000.00 $ /year
 100.00 $ /hour
 35.00 $ /hour
 35.00 $ /hour
 75.00 $ /hour
 160,000.00 $ /year
$50,000.00+ /year
 120,000.00 $ /year
 80.00 $ /hour
 60.00 $ /hour
 35.00 $ /hour
 80,000.00 $ /year
 100,000.00 $ /year
 33.69 $ /hour
 220,000.00 $ /year
 100,000.00 $ /year
 32.00 $ /hour
 25.00 $ /hour
 12.00 $ /hour
 80,000.00 $ /year
 90,000.00 $ /year
 40,000.00 $ /year
 36.00 $ /hour
 45.00 $ /hour
 105,000.00 $ /year
 85,000.00 $ /year
 130,000.00 $ /year
 39,520.00 $ /year
 80,000.00 $ /year
 94,000.00 $ /year
 90,000.00 $ /year
 80,000.00 $ /year
 19.00 $ /hour
 118,000.00 $ /year
 105,000.00 $ /year
 130,000.00 $ /year
 85,000.00 $ /year
 17.00 $ /hour
 14.00 $ /hour
 110,000.00 $ /year
 100,000.00 $ /year
 26.00 $ /hour
 140,000.00 $ /year
 120,000.00 $ /year
 33.00 $ /hour
 80,000.00 $ /year
 19.92 $ /hour
 60,000.00 $ /year
 110,000.00 $ /year
 17.00 $ /hour
 80,000.00 $ /year
 55,000.00 $ /year
 85,000.00 $ /year
 85,000.00 $ /year
 130,000.00 $ /year
 95,000.00 $ /year
 65,000.00 $ /year
 65,000.00 $ /year
 32.00 $ /hour
 65,000.00 $ /year
 75,000.00 $ /year
 55.00 /year
 24.00 $ /hour
 35.00 $ /hour
 120,000.00 /year
 60,000.00 $ /year
 45,000.00 $ /year
 40.00 $ /hour
 175,000.00 $ /year
 70,000.00 $ /year
 125,000.00 /year
 75,000.00 $ /year
 21,000.00 $ /year
 110,000.00 $ /year
 131,000.00 $ /year
 1.00 $ /year
$40,000.00+ /year
 55,000.00 $ /year
 175,000.00 /year
 14.00 $ /hour
 15.00 $ /hour
 85.00 $ /hour
 40.87 $ /hour
 125,000.00 $ /year
 90,000.00 $ /year
 60,000.00 $ /year
 38.00 $ /hour
 40,000.00 $ /year
$50,000.00+ /yearbase salary plus bonus
 40.00 $ /hour
 70.00 $ /hour
 125,000.00 $ /year
 48,000.00 $ /year
 120,000.00 $ /year+ profit sharing
 80,000.00 $ /year10% Bonus
 110,000.00 $ /year
 124,500.00 $ /year
 110,000.00 $ /year
 22.00 $ /hour
 75,000.00 $ /year
 85,000.00 $ /year
 85,000.00 $ /year
 70,000.00 $ /year
 100,000.00 $ /year
 63,000.00 $ /year
 120,000.00 $ /year
 75,000.00 $ /year
 22.00 $ /hour
 105,000.00 $ /year
 14.00 $ /hour
 65,000.00 $ /year
 90,000.00 $ /year
 75,000.00 $ /year
 55,000.00 $ /year
 80,000.00 $ /year
 150,000.00 $ /year
 100,000.00 $ /year
 85,000.00 $ /year
 60,000.00 $ /year
 175,000.00 $ /year
 65,000.00 $ /year
 58,000.00 $ /year
 50,000.00 $ /year
 55,000.00 $ /year
 20.00 $ /hour
 75,000.00 $ /year
 125,000.00 $ /year
 50,000.00 $ /year
 75,000.00 $ /year
 110,000.00 $ /year
 16.00 $ /hour
 95,000.00 $ /year
 24.00 $ /hour
 30.00 $ /hour
 120,000.00 $ /year
 29.00 $ /hour
 65,000.00 $ /year
 22.00 $ /hour
 21.00 $ /hour
 60,000.00 $ /year
 31,000.00 $ /year
 60,000.00 $ /year
 90,000.00 $ /year
 100,000.00 $ /year
 90,000.00 $ /year
 150,000.00 $ /year
 70,000.00 $ /year
 100,000.00 $ /year
 90,000.00 $ /year
 115,000.00 $ /year
 55,000.00 $ /year
 80,000.00 $ /year
 38.00 $ /hour
 75,000.00 $ /yearpackage
 110,000.00 $ /year
 85,000.00 $ /year
 75,000.00 $ /yearPACKAGE
18.00
 13.00 $ /year
13.00
 95,000.00 $ /year
 30,000.00 $ /yearbonus, tips and comp time
18.00
 110.00 $ /year
14.00
 20,971.00 $ /month
18.00
 35,000.00 $ /year
 55,000.00 $ /year
 95,000.00 $ /year
15.00
 110,000.00 $ /year
 20.00 $ /hour
 2.00 $ /year5
 35,000.00 $ /year
 46.00 $ /hour
 22.00 $ /hour
 170,000.00 $ /year30-35k bonus incentives
 38,000.00 $ /year
30000.00
 42,000.00 $ /year
 100,000.00 $ /year
 19.00 $ /hourgenerous benefit package
 81,475.47 $ /year
 141,773.00 $ /year$8,000 Recruitment Incentive Pay may be available.
 80,000.00 $ /year
10.00
 3,865.66 $ /month
 13.75 $ /hour
 22.00 $ /hour
 85,000.00 $ /year
 55.00 $ /hour
 135,000.00 $ /yearPTO, 401K
 25.00 $ /hourBenefits (401K, Health Insurance) and bonuses are potentials
 108,493.00 $ /year
 85,000.00 $ /year
 130,000.00 $ /year
 65,000.00 $ /year
 55.00 $ /hour
 70.00 $ /hour
 16.00 $ /hour
 87.50 $ /hour
 70,000.00 $ /year
$70,000.00+ /year
15.00
 115,000.00 $ /year
13.50
 60,000.00 $ /yearHealth Benefits
31000.00
 115,000.00 $ /year
 130,000.00 $ /year
 50,000.00 $ /year
14.00
150000.00
 15.96 $ /hour
 100,000.00 $ /year
 78,000.00 $ /yearpaid time off, health/life insurance, 401K
 49.00 $ /hour
 20.00 $ /hour
 110,000.00 $ /year
92000.00
 23.00 $ /hour
 90,000.00 $ /year
 60.00 $ /hour
 85,000.00 $ /year
 44.00 $ /hour
 20,971.00 $ /month
 45,000.00 $ /year
 8,060.00 $ /month
22.00+ /hour
 45.00 $ /hour
 6,579.41 $ /month
 70,000.00 $ /year
 50,000.00 $ /year
$20.00+ /hour
 33,800.00 $ /yearpaid training, Paid Time Off (PTO), Health and Dental insurance options, flexible scheduling, mileage reimbursement, cell phone stipend, laptop computer
 24.00 $ /hour
 72,000.00 $ /year
 90,000.00 $ /year
40.00
 800.00 $ /year
 1.00 $ /hour
 20.00 $ /hour
$84,800.00+ /yearRelocation
 65,000.00 $ /year
 130,000.00 $ /year
 33.00 $ /hour
 75,000.00 $ /yearFull comprehensive benefits (PTO, Health, Dental, Vision, LTD, and 401K matching, etc)
 40,000.00 $ /year
 52,000.00 $ /year
14.00
 80,000.00 $ /year
 6,579.41 $ /month
 90,000.00 $ /year
55.00
 55.00 $ /hour
 100,000.00 $ /year
 55.00 $ /yearCTP
92000.00
18.00
 195,000.00 $ /year
42.00
$63,000.00+ /year
 80.00 $ /yearFull benefits, 401k with company match.
 35.00 $ /hour
 21.00 $ /hour
$13.00+ /hour
 40.00 $ /year
 104,000.00 $ /year
25.00
 32,000.00 $ /year
 15.00 $ /hour
 100,000.00 $ /year
 10.00 $ /hour
 45.00 $ /hour
 14.00 $ /hour
 50.00 $ /hour
 20.02 $ /hour
 10.00 $ /hour
 75,000.00 $ /yearHighly Competitive Base Salary Plus Lucrative Bonus Plan, Benefit Package, in a Highly Diverse, Very Successful Company! Performance Based Upward Mobility Assured.​ Do Not Hesitate, Apply Today.​ Grow with this Nationally Present, Dynamic Restaurant Group
 90,000.00 $ /yearHighly Competitive Base Salary Plus Lucrative Bonus Plan, Benefit Package, in a Highly Diverse, Very Successful Company! Performance Based Upward Mobility Assured.​ Do Not Hesitate, Apply Today.​ Grow with this Nationally Present, Dynamic Restaurant Group
 50,000.00 $ /year
 90,000.00 $ /year
$50,627.00+ /year
 70,000.00 $ /year
 13.00 $ /hour
 40,000.00 $ /year
 12.00 $ /hour
 57.14 $ /hour
 11.50 $ /hour
 100,000.00 $ /year
 100,000.00 $ /year
 14.00 $ /hour
 23.00 $ /hour
 32.00 $ /hour
 40,000.00 $ /yearSalary based upon professional experience, profit share benefits, Life benefits, Medical insurance
 65,000.00 $ /year
 80,000.00 $ /year
 85,000.00 $ /year
 135,000.00 $ /year
 100,000.00 $ /year
 100,000.00 $ /year
 36,000.00 $ /year
60000.00
 50,000.00 $ /year
 18.00 $ /hour
 65,000.00 $ /year
 21.00 $ /hour
 50.00 $ /hour
 95,000.00 $ /year
 35.00 $ /hour
 18.00 $ /hour
 88,000.00 $ /year
 75,000.00 $ /year
 70,000.00 $ /year
 40.00 $ /hour
 15.00 $ /hour
 50,000.00 $ /year
 105,000.00 $ /year
 10.00 $ /hour
 12.50 $ /hour
 12.65 $ /hour
 100,000.00 $ /year
 100,000.00 $ /year
 1.00 $ /yearYearly Salary
 55.00 $ /hour
 35.00 $ /hour
 17.14 $ /hour
 85,000.00 $ /year
 24.00 $ /hour
 43.00 $ /hour
 22.00 $ /hour
 108,000.00 $ /year
 50.00 $ /hour
 110,000.00 $ /year
 90,000.00 $ /year
 95,000.00 $ /year
 28.00 $ /hour
 95,000.00 $ /year
 42.00 $ /hour
 35.00 $ /hour
 46.42 $ /hour
 85,000.00 $ /year
 31.89 $ /hour
 50,000.00 $ /year
 60.00 $ /hour
 80,000.00 $ /year
 42.00 $ /hour
 110,000.00 $ /year
 16.25 $ /hour
 1.00 $ /hour
 104,000.00 $ /year
 47.00 $ /hour
 17.00 $ /hour
 30.00 $ /hour
 60,000.00 $ /year
 65.00 $ /hour
 85,000.00 $ /year
 42.50 $ /hour
 72,000.00 $ /year
 67.00 $ /hour
 26.00 $ /hour
 35.00 $ /hour
 35.00 $ /hour
 75,000.00 $ /year
 26.00 $ /hour
 42,000.00 $ /year
 31.00 $ /hour
 41.00 $ /hour
 125,000.00 $ /year
 69,000.00 $ /year
 2.00 $ /year
 125,000.00 $ /year
 48,000.00 $ /yearMedical Benefits
 38,000.00 $ /yearUniform allowence
 45,000.00 $ /year
 18.00 $ /hour
 45,000.00 $ /year
 60,000.00 $ /year
 12.26 $ /hour
 25.50 $ /hour
 155,000.00 $ /yearuncapped commission, full benefits, paid expenses
 90,000.00 $ /year
 45,000.00 $ /year
 106,683.00 $ /year
 18.00 $ /hour
 13.00 $ /hour
 45,000.00 $ /year
 16.00 $ /hourHousing Discount, Commision/Bonus
 13.22 $ /hour
 70,000.00 $ /yearCommissions, Car Allowance, Bonus
 45,000.00 $ /year
 33.00 $ /hour
 35,000.00 $ /year
 24.81 $ /hour
 14.00 $ /hour
 60,000.00 $ /year
 22.50 $ /hour
 70,000.00 $ /year
 100,000.00 $ /year
 60,000.00 $ /year
 60,000.00 $ /year
 45,000.00 $ /yearBenefits Package, Relocation Support
 17.00 $ /hour
 22.00 $ /hour
 50,000.00 $ /yearCompetitive Benefits Package
 48,000.00 $ /year
 65,000.00 $ /year
$60,000.00+ /yearCompetitive Benefits Package
 105,000.00 $ /year
$15.50+ /hour
$60,000.00+ /yearhigh bonus potential and full benefits package
 60,000.00 $ /year
 60,000.00 $ /year
 90,000.00 $ /year
 70.00 $ /hour
 45,000.00 $ /year
 45,000.00 $ /year
 55.00 $ /year
 51,000.00 $ /year
 60,000.00 $ /year
 60,000.00 $ /yearCompetitive Benefits Salary, Relocation Support
 65,000.00 $ /year
 50,000.00 $ /yearQuarterly bonuses
 11.00 $ /hour
 25.00 $ /hour
 150,000.00 $ /year
 26.78 $ /hour
 32,000.00 $ /year
 45,000.00 $ /year
 54,000.00 $ /year
 40,000.00 $ /yearPlus Bonus'
 15.00 $ /hour
 35,000.00 $ /year+ bonus
 115.00 $ /hour
 13.00 $ /hour
 110,000.00 $ /year
 100,000.00 $ /year+ Bonus
 15.00 $ /hour
 18.37 $ /hourCompetitive wage rate and benefits package available to full time employees
 40,000.00 $ /yearPlus take home truck, tools provided, benefits
 55,000.00 $ /year
 18.00 $ /hour
 70,000.00 $ /year
 151,000.00 $ /year
 13.00 $ /hourPlus Commissions, Possible quarterly bonus after 1 year
 45,000.00 $ /year
 30.00 $ /hour
 130,000.00 $ /year
 50,000.00 $ /yearBase + Commission
 50,000.00 $ /year
 130,000.00 $ /year
 21.00 $ /hour
 45,000.00 $ /year
 60,000.00 $ /yearauto allowance & benefits
 50,000.00 $ /year
 55,000.00 $ /yearUncapped Commission, Bonus
 15.50 $ /year
 14.00 $ /hour
 15.00 $ /hour
 23.00 $ /hour
 13.00 $ /hour
 45,000.00 $ /year
 95,000.00 $ /year
 45,000.00 $ /year
 28,000.00 $ /year
 10.25 $ /hour
 38,000.00 $ /year
 17.00 $ /hourQuarterly Bonus
$16.50+ /year
 32,000.00 $ /year
35000.00
 20.00 $ /hourBonuses available. Salary is DOE
 12.00 $ /hour
 30.00 $ /hour
 50,000.00 $ /year
 80,000.00 $ /year
 120,000.00 $ /year
 23.00 $ /hour
 150,000.00 $ /year
 30,000.00 $ /year
 75,000.00 $ /year
60000.00
 45.00 $ /hour
 75,000.00 $ /yearCommensurate with experience
40000.00
 125,000.00 $ /year
$35,000.00+ /year
 65,000.00 $ /yearbonuses based upon performance
55000.00
 45,000.00 $ /yearbase + bonus
 130,000.00 $ /year
45000.00
 40,000.00 $ /year
 90,000.00 $ /year
 110,000.00 $ /year
$62,717.00+ /year
$35,000.00+ /year
 100,000.00 $ /year
60000.00
32000.00
 1,000,000.00 $ /year
 40.00 $ /hourhours flexible, salary negotiable
End Bonus
 150,000.00 $ /year
 75,000.00 $ /year
 100,000.00 $ /yearbonus
 32.36 $ /hour
 160,000.00 $ /year
$43,640.00+ /yearB.O.E.
 50,000.00 $ /year
 65,000.00 $ /yearCommensurate with experience
 47,000.00 $ /yearFull benefits
 70,000.00 $ /year
 80,000.00 $ /year
 65,000.00 $ /year
 115,000.00 $ /yearCommensurate with experience
 30,000.00 $ /year
 1,000,000.00 $ /year
 15.00 $ /hourHourly rate will be based on experience
215,000.00+ /year
 38.00 $ /hour
40000.00
 55,000.00 $ /year
 15.00 $ /hour
$12.00+ /year
 75,000.00 $ /year
 1,000,000.00 $ /year
 12.00 $ /hour
 1,000,000.00 $ /year
60000.00
 50,000.00 $ /year
 35,500.00 $ /yearHealth care benifits provided
 100,000.00 $ /year
 90,000.00 $ /yearBonus
 20.00 $ /hourCompensation based on experience
 33.00 $ /hour
 15.00 $ /hour
 38,000.00 $ /year
 33,000.00 $ /year
 19.00 $ /hour
 70,000.00 $ /year
 165,000.00 $ /year
 20.00 $ /hour
65000.00
 190,000.00 $ /year
 300,000.00 $ /year
65000.00
 1,000,000.00 $ /year
$65,000.00+ /yearbonus
 140,000.00 $ /year
 50,000.00 $ /year
 1,000,000.00 $ /year
 16.00 $ /hour
 55,000.00 $ /year
 12.00 $ /hour
 1,000,000.00 $ /year
 65,000.00 $ /year
 20.00 $ /hourHealth insurance available
16.00
125000.00
 55,000.00 $ /year
 75,000.00 $ /yearOT and bonus
42000.00
 120,000.00 $ /year
 125,000.00 $ /year
 200,000.00 $ /year
 75,000.00 $ /year
 15.00 $ /hour
$30,000.00+ /year
End of year discretionary bonus
 22.00 $ /hour
 57,000.00 $ /year
 55,000.00 $ /yearEnrollment in Firm Bonus Plan after 90 days.
20.00
 54,000.00 $ /year
 85,000.00 $ /year
 16.00 $ /hour
50000.00
 40,000.00 $ /year
 50,000.00 $ /year
 19.00 $ /hour
 40,000.00 $ /yearParking Provided by Employer
 160,000.00 $ /year
 55,000.00 $ /year
 50,000.00 $ /yearPlus Bonus
 17.00 $ /year
 30.00 $ /hour6 month + contract position
20.00
 160,000.00 $ /year
58.00
 60,000.00 $ /year
 50,000.00 $ /yearStipend for Health Insurance/401K
45000.00
$33,000.00+ /yearBonus
 100,000.00 $ /yearBonus eligible
 85,000.00 $ /year
 35.00 $ /hour
 90,000.00 $ /year
45000.00
 70,000.00 $ /year
 140,000.00 $ /yearBonus
 75,000.00 $ /year
 79,040.00 $ /year
 5,445.57 $ /month
 85,000.00 $ /year
 35,000.00 $ /year
 60,000.00 $ /year
 40,000.00 $ /year
 25.00 $ /hour
 85,000.00 $ /year
$11.50+ /hour
 60.00 $ /hour
 110,000.00 $ /year
 100,000.00 $ /year
 20.00 $ /hour
 14.00 $ /hour
 50,000.00 $ /year
 65.00 $ /hour
 32.00 /hour
 60,320.00 $ /year
 100,000.00 $ /year
 70,000.00 $ /year
 40,000.00 /year
 22.00 $ /hour
 18.00 $ /hour
 19.06 $ /hour
 15.29 $ /hour
 50,000.00 $ /yearYearly Salary
 110,000.00 $ /year
 90,000.00 $ /year
 70.00 $ /hour
 65,000.00 /year
 25.00 $ /hour
 29.86 $ /year
 19.00 $ /hour
 15.00 $ /hour
 85,000.00 $ /year
 52,000.00 $ /year
 120,000.00 $ /yearpackage
 100,000.00 $ /year
 100,000.00 $ /year
 80,000.00 $ /year
 39.78 $ /hour
 120,000.00 $ /year
 120,000.00 $ /yearpackage
 41.60 $ /hour
 41.90 $ /hour
 120,000.00 $ /year
 47.00 $ /hour
 95,000.00 $ /year
 125,000.00 $ /year
$40,800.00+ /year
 140,000.00 $ /year
 130,000.00 $ /year
 130,000.00 $ /year
 75,000.00 $ /year
 90,000.00 $ /yearBenefits package
 50.00 $ /hour
 12.25 $ /hour
 33.00 $ /hour
 75,000.00 $ /yearPaid vacation & holiday
 60,000.00 $ /year
 65.00 $ /hour
 30,000.00 $ /year
 14.74 $ /hour
 39.00 $ /hour
 50.00 $ /hour
 16.00 $ /hour
 75,000.00 $ /year
 22.00 $ /hour
 120,000.00 $ /year
 150,000.00 $ /year
 45,000.00 $ /year
 11.75 $ /hour
 20.00 $ /hour
 16.00 $ /hour
 950,000.00 $ /year
 150,000.00 $ /year
 60,000.00 $ /year
 110,000.00 $ /year
 120,000.00 $ /year
 150,000.00 $ /year
 185,000.00 $ /year
 120,000.00 $ /hour
 95,000.00 $ /year
 80,000.00 $ /year
 77.89 $ /hour
 110,000.00 $ /year
 105.00 $ /hour
 18.00 $ /hour
 100,000.00 $ /year
 85,000.00 $ /year
 25.00 $ /hour
 42,000.00 $ /year
 135,000.00 $ /year
 14.00 $ /hour
 22.00 $ /hour
 60,000.00 $ /year
 13.00 $ /hour
 9.65 $ /hour
 20.00 $ /hour
 10.00 $ /hour
 10.00 $ /hour
 15.00 $ /hour
 13.50 $ /hour
 48,000.00 $ /year
 41.00 $ /hour
 18.00 $ /hour
 12.67 $ /hour
 14.00 $ /hour
 13.00 $ /hour
 12.00 $ /hour
 55,000.00 $ /year
 11.00 $ /hour
 60,000.00 $ /year
 9.00 $ /hour
 10.00 $ /hour
 17.00 $ /hour
 13.00 $ /hour
 900.00 $ /hour
 9.00 $ /hour
 12.00 $ /hour
 15.00 $ /hour
 9.65 $ /hour
 52,000.00 $ /year
 8.00 $ /hour
 21.00 $ /hour
 7.70 $ /hour
 11.00 $ /hour
 13.00 $ /hour
 13.00 $ /hour
 12.00 $ /hour
 11.00 $ /hour
 70.00 $ /hour
 13.00 $ /hour
 9.65 $ /hour
 15.00 $ /hour
 14.00 $ /hour
 10.00 $ /hour
 110,000.00 $ /year
 9.00 $ /hour
 13.00 $ /hour
 12.00 $ /hour
 80,000.00 $ /year
 13.00 $ /hour
 13.50 $ /hour
13.00+ /hour
 11.00 $ /hour
 60,000.00 $ /year
 100,000.00 $ /year
 12.00 $ /hour
 25.00 $ /year
 11.00 $ /hour
 15.00 $ /hour
 13.00 $ /hour
 11.75 $ /hour
 9.00 $ /hour
 1.00 $ /year
 60,000.00 $ /year
 60,000.00 $ /year
 45,000.00 $ /year
 16.00 $ /hour
 45,000.00 $ /year
 11.00 $ /hour
 14.00 $ /hour
 70,000.00 $ /year
 8.25 $ /hour
 45.00 $ /hour
 27.00 $ /hour
 11.50 $ /hour
 13.00 $ /hour
 12.00 $ /hour
 70,000.00 $ /year
 12.00 $ /hour
 17.00 $ /hour
 10.00 $ /hour
 28.00 $ /hour
 150,000.00 $ /year
 15.00 $ /hour
 90,000.00 $ /year
 62,400.00 $ /yeardiscretionary salary and bonus
$10.00+ /hour
 70,000.00 $ /year
$16.00+ /hour
 15.00 $ /year
 27.36 $ /hour
54000.00
 15.00 $ /hour
$15.41+ /hour
$10.50+ /hour
85000.00
 150,000.00 $ /year
40000.00
 19.71 $ /hourB.O.E.
15.00
$24.92+ /hour
$19.00+ /hour
 19.00 $ /hourBonus
 16.36 $ /hour
 40.00 $ /hour
 11.44 $ /hour
 40,000.00 $ /yearinsurance
 70,000.00 $ /year
 75,000.00 $ /year
$13.83+ /hour
 11.80 $ /hour
 45,000.00 $ /year
 100,000.00 $ /year
 135,000.00 $ /year
 43,000.00 $ /year
 35.00 $ /hour
 29,000.00 $ /year
29.00
 65,000.00 $ /year
60000.00
 175,000.00 $ /year
 75,000.00 $ /year
9.50
 52,000.00 $ /year
 75,000.00 $ /year
15.00
13.00
 110,000.00 $ /year
 12.00 $ /hourgas allowance
40000.00
 55,000.00 $ /yearBonus Plan available
15.00
10.00
 22.00 $ /hour
 250,000.00 $ /year
 30,000.00 $ /year
 60,000.00 $ /year
 100,000.00 $ /year
 75,000.00 $ /yearBase Salary + Commissions + Benefits
 70,000.00 $ /year
 65,000.00 $ /yearw/ monthly performance bonus & commission
30000.00
9.94
15.00
$12.00+ /hourannual bonus available
14.00
 65,000.00 $ /year
 45,000.00 $ /year
 15.75 $ /hour
 13.00 $ /hour
 95,000.00 $ /yearBonus
 55,000.00 $ /year
26000.00
 95,000.00 $ /year
 80,000.00 $ /year
 39.66 $ /hour
$48,333.00+ /year
16.00
31000.00
 14.00 $ /hour
 10.75 $ /hour
 12.00 $ /hour
 120,000.00 $ /year
$33,000.00+ /year
$18.38+ /hour
 46.00 $ /hour

# Changes pending
Empty cells by column
What can we do about these columns?

-> date_added:
 <br />-> job_type: 
 <br />-> organization: 
 <br />-> salary:
 <br />-> sector: