# US Monster Jobs Dataset Cleansing

Personal checklist:
-> Standarization of data: Fix inconsistent column names and convert into a standard format

In [2]:
import pandas as pd

import numpy as np

In [3]:
df = pd.read_csv('C:\\Users\\jorge\\Desktop\\monster_com-job_sample.csv')

# Overview of dataset

In [4]:
df.shape

(22000, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   date_added       122 non-null    object
 3   has_expired      22000 non-null  object
 4   job_board        22000 non-null  object
 5   job_description  22000 non-null  object
 6   job_title        22000 non-null  object
 7   job_type         20372 non-null  object
 8   location         22000 non-null  object
 9   organization     15133 non-null  object
 10  page_url         22000 non-null  object
 11  salary           3446 non-null   object
 12  sector           16806 non-null  object
 13  uniq_id          22000 non-null  object
dtypes: object(14)
memory usage: 2.3+ MB

# 1. Standarization of data
-> Column names/format: I don't see any relevant errors in the column name format. Am I missing something?
 <br />No caps, no format differences between one name and another.

In [6]:
df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'sector', 'uniq_id'],
      dtype='object')

# 2. Data Type Conversion
Data in df is of 'object' type. We'll have to convert the data type of the columns according to the data in each one of them.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   date_added       122 non-null    object
 3   has_expired      22000 non-null  object
 4   job_board        22000 non-null  object
 5   job_description  22000 non-null  object
 6   job_title        22000 non-null  object
 7   job_type         20372 non-null  object
 8   location         22000 non-null  object
 9   organization     15133 non-null  object
 10  page_url         22000 non-null  object
 11  salary           3446 non-null   object
 12  sector           16806 non-null  object
 13  uniq_id          22000 non-null  object
dtypes: object(14)
memory usage: 2.3+ MB

# 2.1 Empty cells per column?

We have a ton of missing data in date_added, job_type, organization, salary and sector.

In [8]:
df.isnull().sum()

country                0
country_code           0
date_added         21878
has_expired            0
job_board              0
job_description        0
job_title              0
job_type            1628
location               0
organization        6867
page_url               0
salary             18554
sector              5194
uniq_id                0
dtype: int64

The only value in the 'Country' column is the US. I guess it makes sense when using a 'US Monster Jobs' dataset.

In [9]:
print(df['country'].value_counts())

print('-----------------------------------')

print(df['country_code'].value_counts())

United States of America    22000
Name: country, dtype: int64
-----------------------------------
US    22000
Name: country_code, dtype: int64

# 2.2 Convert date_added to date dtype

In [10]:
df.loc[df['date_added'].notnull()]

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
133,United States of America,US,5/10/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Multibed Technician Job in Deer Park,Full Time Employee,"Deer Park, TX",Other/Not Classified,http://jobview.monster.com/Multibed-Technician...,NaN,Other,6f6e952b8b0a2bb55e9feada54db2347
140,United States of America,US,5/13/2016,No,jobs.monster.com,Equal Opportunity Employer: Minority/Female/Di...,Principal Cyber Security Engineer Job in Houston,Full Time Employee,"Houston, TX",Computer SoftwareComputer/IT Services,http://jobview.monster.com/Principal-Cyber-Sec...,NaN,IT/Software Development,1127457851cf28d79a39fd4b35867982
251,United States of America,US,5/9/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Field Supervisor IS Job in Deer Park,Full Time Employee,"Deer Park, TX",Other/Not Classified,http://jobview.monster.com/Field-Supervisor-IS...,NaN,Other,94b49d291a16d01b27378ca97e653910
279,United States of America,US,6/10/2016,No,jobs.monster.com,"At American Family Insurance, we're firmly com...",Insurance Sales - Customer Service Job in Eden...,Full Time Employee,"Eden Prairie, MN 55344",Insurance,http://jobview.monster.com/insurance-sales-cus...,15.00 - 21.00 $ /hour,Accounting/Finance/Insurance,64a597e5dd17740aadf4b0e8047b51a5
366,United States of America,US,1/2/2017,No,jobs.monster.com,Description The Opportunity The Vehicle Mainte...,Vehicle Maintenance Mechanic - Las Vegas,Full Time Employee,"Las Vegas, NV",Energy and Utilities,http://jobview.monster.com/vehicle-maintenance...,NaN,Installation/Maintenance/Repair,886903d4dda03046c2a826c44bfff3dc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20760,United States of America,US,9/27/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Central Maintenance Planner Job in Norwell,Full Time Employee,"Norwell, MA",Other/Not Classified,http://jobview.monster.com/central-maintenance...,NaN,Administrative/Clerical,7b115d764f741821bae4ac95bfcf3f04
21342,United States of America,US,3/30/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Branch Manager Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Branch-Manager-Job-...,NaN,Other,1db7d013265871214d3f4e7ed80d8a23
21391,United States of America,US,3/24/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Field Service Driver Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Field-Service-Drive...,NaN,Logistics/Transportation,4f304e6285b240f8442a028bc3716273
21631,United States of America,US,4/4/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Field Project Manager Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Field-Project-Manag...,NaN,Other,6f86e1f35ad082be591bcec15c75f947
21696,United States of America,US,3/24/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Environmental Technician CBPP Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Environmental-Techn...,NaN,Biotech/R&D/Science,a0afd50db433d785e97665e4e9345815

In [11]:
lista = [(i + ''': ''' + str(df.dtypes[i])) for i in dict(df.dtypes)]

# for i in dict(df.dtypes)
#     lista.append(i + ': ' + str(df.dtypes[i]))

print(lista)

['country: object', 'country_code: object', 'date_added: object', 'has_expired: object', 'job_board: object', 'job_description: object', 'job_title: object', 'job_type: object', 'location: object', 'organization: object', 'page_url: object', 'salary: object', 'sector: object', 'uniq_id: object']

# Fix salary column

# Visualize full df rows

Code in next cell allows us to view rows in text editor. I wanted to have a better idea of the data in the column.

The "Salary" column is a mess. We got:
-> 80,000.00 - 95,000.00 $ /year
-> 45,000.00 - 100,000.00 $ /yearBonus, Benefits,
-> 40,000.00 - 50,000.00 $ /yearsalary
-> 56,000.00 - 64,000.00 $ /yearHighly Competitiv
-> 13.00 - 16.00 $ /year
-> 0.00 - 90,000.00 $ /year
-> 45,000.00+ /year
-> 0.00 - 1.00 $ /year

In [12]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df[['salary']].head(15))

                           salary
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN
5                             NaN
6                             NaN
7                             NaN
8                             NaN
9                             NaN
10                            NaN
11                            NaN
12                            NaN
13           9.00 - 13.00 $ /hour
14  80,000.00 - 95,000.00 $ /year

In [13]:
df[['salary']]

                                                  salary
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
21995               120,000.00 - 160,000.00 $ /yearbonus
21996                      45,000.00 - 60,000.00 $ /year
21997                                                NaN
21998                              25.00 - 28.00 $ /hour
21999  40,000.00 - 46,000.00 $ /year+ annual bonus (u...

[22000 rows x 1 columns]

In [99]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('year') == True)

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df.loc[filt]['salary'].head(15))

id
14                         80,000.00 - 95,000.00 $ /year
19                         60,000.00 - 72,000.00 $ /year
29                        70,000.00 - 100,000.00 $ /year
32                        75,000.00 - 100,000.00 $ /year
36                         68,000.00 - 72,000.00 $ /year
41                         58,000.00 - 65,000.00 $ /year
61     45,000.00 - 100,000.00 $ /yearBonus, Benefits,...
64                   40,000.00 - 50,000.00 $ /yearsalary
82                         80,000.00 - 90,000.00 $ /year
83                         35,000.00 - 45,000.00 $ /year
88                        80,000.00 - 100,000.00 $ /year
100                        31,000.00 - 33,000.00 $ /year
117                      100,000.00 - 120,000.00 $ /year
127                       75,000.00 - 100,000.00 $ /year
132                                    $50,000.00+ /year
Name: salary, dtype: object

# Add extra columns for analysis

In [37]:
df.columns.get_loc('salary')

11

In [38]:
df.insert(12, 'from_salary', np.nan)

df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'from_salary', 'sector', 'uniq_id'],
      dtype='object')

In [40]:
df.insert(13, 'to_salary', np.nan)

df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'from_salary', 'to_salary', 'sector', 'uniq_id'],
      dtype='object')

In [41]:
df.insert(14, 'yearly_hourly', np.nan)

df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'from_salary', 'to_salary', 'yearly_hourly',
       'sector', 'uniq_id'],
      dtype='object')

In [57]:
df.index.names = ['id']

In [61]:
print(df[['salary']])

                                                  salary
id
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
21995               120,000.00 - 160,000.00 $ /yearbonus
21996                      45,000.00 - 60,000.00 $ /year
21997                                                NaN
21998                              25.00 - 28.00 $ /hour
21999  40,000.00 - 46,000.00 $ /year+ annual bonus (u...

[22000 rows x 1 columns]

Now that I got the columns I'm splitting the strings into each one of them.
Try to make sense of the data.

In [87]:
df['yearly_hourly']

id
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
21995   NaN
21996   NaN
21997   NaN
21998   NaN
21999   NaN
Name: yearly_hourly, Length: 22000, dtype: float64

Set "Yearly_Hourly" column to "year" where "Salary" column contains "year"

In [97]:
# yearly_hourly = year
# from_salary = min
# to_salary = max

filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('year') == True)

for i in df.index[filt == True]:
    df.iloc[i, df.columns.get_loc('yearly_hourly')] = 'year'

Review changes, now we have "year" in these columns

In [98]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('year') == True)

print(df.loc[filt][['salary', 'yearly_hourly']])

                                                  salary yearly_hourly
id
14                         80,000.00 - 95,000.00 $ /year          year
19                         60,000.00 - 72,000.00 $ /year          year
29                        70,000.00 - 100,000.00 $ /year          year
32                        75,000.00 - 100,000.00 $ /year          year
36                         68,000.00 - 72,000.00 $ /year          year
...                                                  ...           ...
21982                      70,000.00 - 80,000.00 $ /year          year
21987                                  $80,000.00+ /year          year
21995               120,000.00 - 160,000.00 $ /yearbonus          year
21996                      45,000.00 - 60,000.00 $ /year          year
21999  40,000.00 - 46,000.00 $ /year+ annual bonus (u...          year

[1758 rows x 2 columns]

In [48]:
df

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,from_salary,to_salary,yearly_hourly,sector,uniq_id
0,United States of America,US,NaN,No,jobs.monster.com,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,NaN,NaN,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e
1,United States of America,US,NaN,No,jobs.monster.com,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,NaN,NaN,NaN,e4cbb126dabf22159aff90223243ff2a
2,United States of America,US,NaN,No,jobs.monster.com,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,NaN,NaN,NaN,839106b353877fa3d896ffb9c1fe01c0
3,United States of America,US,NaN,No,jobs.monster.com,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,NaN,NaN,NaN,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
4,United States of America,US,NaN,No,jobs.monster.com,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,NaN,NaN,NaN,Project/Program Management,64d0272dc8496abfd9523a8df63c184c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,United States of America,US,NaN,No,jobs.monster.com,This is a major premier Cincinnati based finan...,Assistant Vice President - Controller Job in C...,Full Time,"Cincinnati, OH",NaN,http://jobview.monster.com/Assistant-Vice-Pres...,"120,000.00 - 160,000.00 $ /yearbonus",NaN,NaN,NaN,NaN,a80bc8cc3a90c17eef418963803bc640
21996,United States of America,US,NaN,No,jobs.monster.com,Luxury homebuilder in Cincinnati seeking multi...,Accountant Job in Cincinnati,Full Time,"Cincinnati, OH 45236",Construction - Residential & Commercial/Office,http://jobview.monster.com/Accountant-Job-Cinc...,"45,000.00 - 60,000.00 $ /year",NaN,NaN,NaN,Manager (Manager/Supervisor of Staff),419a3714be2b30a10f628de207d041de
21997,United States of America,US,NaN,No,jobs.monster.com,RE: Adobe AEM- Client - Loca...,AEM/CQ developer Job in Chicago,Full Time,"Chicago, IL 60602",NaN,http://jobview.monster.com/AEM-CQ5-developer-J...,NaN,NaN,NaN,NaN,NaN,5a590350b73b2cec46b05750a208e345
21998,United States of America,US,NaN,No,jobs.monster.com,Jernberg Industries was established in 1937 an...,Electrician - Experienced Forging Electrician ...,Full Time Employee,"Chicago, IL 60609","Jernberg Industries, Inc.",http://jobview.monster.com/Electrician-Experie...,25.00 - 28.00 $ /hour,NaN,NaN,NaN,Installation/Maintenance/Repair,40161cf61c283af9dc2b0a62947a5f1b
21999,United States of America,US,NaN,No,jobs.monster.com,Contract AdministratorCan you be the point per...,Contract Administrator Job in Cincinnati,Full Time,"Cincinnati, OH",NaN,http://jobview.monster.com/Contract-Administra...,"40,000.00 - 46,000.00 $ /year+ annual bonus (u...",NaN,NaN,NaN,Experienced (Non-Manager),cb49f16ad72627b109e434e0cac97f7a

Dictionary + astype to convert column dtype

In [16]:
# convert_dict = {'salary': float}

# df = df.astype(convert_dict)

In [17]:
df.dtypes

country            object
country_code       object
date_added         object
has_expired        object
job_board          object
job_description    object
job_title          object
job_type           object
location           object
organization       object
page_url           object
salary             object
sector             object
uniq_id            object
dtype: object

'Apply' method to convert column dtype

Empty cells by column
What can we do about these columns?

-> date_added:
 <br />-> job_type: 
 <br />-> organization: 
 <br />-> salary:
 <br />-> sector:

In [18]:
df.isnull().sum()

country                0
country_code           0
date_added         21878
has_expired            0
job_board              0
job_description        0
job_title              0
job_type            1628
location               0
organization        6867
page_url               0
salary             18554
sector              5194
uniq_id                0
dtype: int64