# US Monster Jobs Dataset Cleansing

Personal checklist:
-> Standarization of data: Fix inconsistent column names and convert into a standard format

In [2]:
import pandas as pd

import numpy as np

In [3]:
df = pd.read_csv('C:\\Users\\jorge\\Desktop\\monster_com-job_sample.csv')

# Overview of dataset

In [4]:
df.shape

(22000, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   date_added       122 non-null    object
 3   has_expired      22000 non-null  object
 4   job_board        22000 non-null  object
 5   job_description  22000 non-null  object
 6   job_title        22000 non-null  object
 7   job_type         20372 non-null  object
 8   location         22000 non-null  object
 9   organization     15133 non-null  object
 10  page_url         22000 non-null  object
 11  salary           3446 non-null   object
 12  sector           16806 non-null  object
 13  uniq_id          22000 non-null  object
dtypes: object(14)
memory usage: 2.3+ MB

# 1. Standarization of data
-> Column names/format: I don't see any relevant errors in the column name format. Am I missing something?
 <br />No caps, no format differences between one name and another.

In [6]:
df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'sector', 'uniq_id'],
      dtype='object')

# 2. Data Type Conversion
Data in df is of 'object' type. We'll have to convert the data type of the columns according to the data in each one of them.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   date_added       122 non-null    object
 3   has_expired      22000 non-null  object
 4   job_board        22000 non-null  object
 5   job_description  22000 non-null  object
 6   job_title        22000 non-null  object
 7   job_type         20372 non-null  object
 8   location         22000 non-null  object
 9   organization     15133 non-null  object
 10  page_url         22000 non-null  object
 11  salary           3446 non-null   object
 12  sector           16806 non-null  object
 13  uniq_id          22000 non-null  object
dtypes: object(14)
memory usage: 2.3+ MB

# 2.1 Empty cells per column?

We have a ton of missing data in date_added, job_type, organization, salary and sector.

In [8]:
df.isnull().sum()

country                0
country_code           0
date_added         21878
has_expired            0
job_board              0
job_description        0
job_title              0
job_type            1628
location               0
organization        6867
page_url               0
salary             18554
sector              5194
uniq_id                0
dtype: int64

The only value in the 'Country' column is the US. I guess it makes sense when using a 'US Monster Jobs' dataset.

In [9]:
print(df['country'].value_counts())

print('-----------------------------------')

print(df['country_code'].value_counts())

United States of America    22000
Name: country, dtype: int64
-----------------------------------
US    22000
Name: country_code, dtype: int64

# 2.2 Convert date_added to date dtype

In [10]:
df.loc[df['date_added'].notnull()]

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id
133,United States of America,US,5/10/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Multibed Technician Job in Deer Park,Full Time Employee,"Deer Park, TX",Other/Not Classified,http://jobview.monster.com/Multibed-Technician...,NaN,Other,6f6e952b8b0a2bb55e9feada54db2347
140,United States of America,US,5/13/2016,No,jobs.monster.com,Equal Opportunity Employer: Minority/Female/Di...,Principal Cyber Security Engineer Job in Houston,Full Time Employee,"Houston, TX",Computer SoftwareComputer/IT Services,http://jobview.monster.com/Principal-Cyber-Sec...,NaN,IT/Software Development,1127457851cf28d79a39fd4b35867982
251,United States of America,US,5/9/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Field Supervisor IS Job in Deer Park,Full Time Employee,"Deer Park, TX",Other/Not Classified,http://jobview.monster.com/Field-Supervisor-IS...,NaN,Other,94b49d291a16d01b27378ca97e653910
279,United States of America,US,6/10/2016,No,jobs.monster.com,"At American Family Insurance, we're firmly com...",Insurance Sales - Customer Service Job in Eden...,Full Time Employee,"Eden Prairie, MN 55344",Insurance,http://jobview.monster.com/insurance-sales-cus...,15.00 - 21.00 $ /hour,Accounting/Finance/Insurance,64a597e5dd17740aadf4b0e8047b51a5
366,United States of America,US,1/2/2017,No,jobs.monster.com,Description The Opportunity The Vehicle Mainte...,Vehicle Maintenance Mechanic - Las Vegas,Full Time Employee,"Las Vegas, NV",Energy and Utilities,http://jobview.monster.com/vehicle-maintenance...,NaN,Installation/Maintenance/Repair,886903d4dda03046c2a826c44bfff3dc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20760,United States of America,US,9/27/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Central Maintenance Planner Job in Norwell,Full Time Employee,"Norwell, MA",Other/Not Classified,http://jobview.monster.com/central-maintenance...,NaN,Administrative/Clerical,7b115d764f741821bae4ac95bfcf3f04
21342,United States of America,US,3/30/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Branch Manager Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Branch-Manager-Job-...,NaN,Other,1db7d013265871214d3f4e7ed80d8a23
21391,United States of America,US,3/24/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Field Service Driver Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Field-Service-Drive...,NaN,Logistics/Transportation,4f304e6285b240f8442a028bc3716273
21631,United States of America,US,4/4/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Field Project Manager Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Field-Project-Manag...,NaN,Other,6f86e1f35ad082be591bcec15c75f947
21696,United States of America,US,3/24/2016,No,jobs.monster.com,"#TrackingJobBody table, #TrackingJobBody a {<b...",Environmental Technician CBPP Job in Cincinnati,Full Time Employee,"Cincinnati, OH",Other/Not Classified,http://jobview.monster.com/Environmental-Techn...,NaN,Biotech/R&D/Science,a0afd50db433d785e97665e4e9345815

In [11]:
lista = [(i + ''': ''' + str(df.dtypes[i])) for i in dict(df.dtypes)]

print(lista)

['country: object', 'country_code: object', 'date_added: object', 'has_expired: object', 'job_board: object', 'job_description: object', 'job_title: object', 'job_type: object', 'location: object', 'organization: object', 'page_url: object', 'salary: object', 'sector: object', 'uniq_id: object']

# Fix salary column

# Visualize full df rows

Code in next cell allows us to view rows in text editor.

In [12]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df[['salary']].head(15))

                           salary
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN
5                             NaN
6                             NaN
7                             NaN
8                             NaN
9                             NaN
10                            NaN
11                            NaN
12                            NaN
13           9.00 - 13.00 $ /hour
14  80,000.00 - 95,000.00 $ /year

I wanted to have a better idea of the data in the column.

The "Salary" column is a mess. We got:\
80,000.00 - 95,000.00 /year\
45,000.00 - 100,000.00 /yearBonus, Benefits,\
40,000.00 - 50,000.00 /yearsalary\
56,000.00 - 64,000.00 /yearHighly Competitiv\
13.00 - 16.00 /year\
0.00 - 90,000.00 /year\
45,000.00+ /year\
0.00 - 1.00 /year

Next code block shows rows with "year" string in it. "Salary" column.

In [13]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('year') == True)

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df.loc[filt]['salary'].head(15))

14                         80,000.00 - 95,000.00 $ /year
19                         60,000.00 - 72,000.00 $ /year
29                        70,000.00 - 100,000.00 $ /year
32                        75,000.00 - 100,000.00 $ /year
36                         68,000.00 - 72,000.00 $ /year
41                         58,000.00 - 65,000.00 $ /year
61     45,000.00 - 100,000.00 $ /yearBonus, Benefits,...
64                   40,000.00 - 50,000.00 $ /yearsalary
82                         80,000.00 - 90,000.00 $ /year
83                         35,000.00 - 45,000.00 $ /year
88                        80,000.00 - 100,000.00 $ /year
100                        31,000.00 - 33,000.00 $ /year
117                      100,000.00 - 120,000.00 $ /year
127                       75,000.00 - 100,000.00 $ /year
132                                    $50,000.00+ /year
Name: salary, dtype: object

# Add extra columns for analysis

In [14]:
df.columns.get_loc('salary')

11

In [15]:
df.insert(12, 'from_salary', np.nan)

df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'from_salary', 'sector', 'uniq_id'],
      dtype='object')

In [16]:
df.insert(13, 'to_salary', np.nan)

df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'from_salary', 'to_salary', 'sector', 'uniq_id'],
      dtype='object')

In [17]:
df.insert(14, 'yearly_hourly', np.nan)

df.columns

Index(['country', 'country_code', 'date_added', 'has_expired', 'job_board',
       'job_description', 'job_title', 'job_type', 'location', 'organization',
       'page_url', 'salary', 'from_salary', 'to_salary', 'yearly_hourly',
       'sector', 'uniq_id'],
      dtype='object')

In [18]:
df.index.names = ['id']

# Salary column copy
I copied the data in "salary" to "salary_copy"

In [19]:
df['salary_copy'] = df['salary']

In [20]:
df[['salary', 'salary_copy']]

,salary,salary_copy
id,,
0,NaN,NaN
1,NaN,NaN
2,NaN,NaN
3,NaN,NaN
4,NaN,NaN
...,...,...
21995,"120,000.00 - 160,000.00 $ /yearbonus","120,000.00 - 160,000.00 $ /yearbonus"
21996,"45,000.00 - 60,000.00 $ /year","45,000.00 - 60,000.00 $ /year"
21997,NaN,NaN
21998,25.00 - 28.00 $ /hour,25.00 - 28.00 $ /hour
21999,"40,000.00 - 46,000.00 $ /year+ annual bonus (u...","40,000.00 - 46,000.00 $ /year+ annual bonus (u..."

# Split salary string
Now that I got the columns I'm splitting the strings into each one of them.\
Try to make sense of the data.

In [21]:
df['yearly_hourly']

id
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
21995   NaN
21996   NaN
21997   NaN
21998   NaN
21999   NaN
Name: yearly_hourly, Length: 22000, dtype: float64

In [22]:
df['from_salary'] = df['from_salary'].astype(str)

df['to_salary'] = df['to_salary'].astype(str)


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          22000 non-null  object
 1   country_code     22000 non-null  object
 2   date_added       122 non-null    object
 3   has_expired      22000 non-null  object
 4   job_board        22000 non-null  object
 5   job_description  22000 non-null  object
 6   job_title        22000 non-null  object
 7   job_type         20372 non-null  object
 8   location         22000 non-null  object
 9   organization     15133 non-null  object
 10  page_url         22000 non-null  object
 11  salary           3446 non-null   object
 12  from_salary      22000 non-null  object
 13  to_salary        22000 non-null  object
 14  yearly_hourly    0 non-null      float64
 15  sector           16806 non-null  object
 16  uniq_id          22000 non-null  object
 17  salary_copy      3446 non-null   object
dtypes: float64(1), object(17)
memory usage: 3.0+ MB

# Salary/Year Loop

Set "Yearly_Hourly" column to "year" where "Salary" column contains "year"

In [23]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('year') == True)

for i in df.index[filt == True]:
    from_sal = df.iloc[i, df.columns.get_loc('from_salary')]
    to_sal = df.iloc[i, df.columns.get_loc('to_salary')]
    
    df.iloc[i, df.columns.get_loc('yearly_hourly')] = 'year'
    
    split_salary = df.iloc[i, df.columns.get_loc('salary')].split('-', 1)  # Split "Salary" string in 2. That's why we specify "1" inside the split. That means first ocurrence.
    
    if len(split_salary) == 1:
        df.at[i, 'from_salary'] = np.nan   # Set to NaN while I find what to do with salaries without specific range like "Up to $60,000"
        df.at[i, 'to_salary'] = split_salary[0]   # Set to the max value, for ex. if it says "Up to $60,000" then it is $60,000
    elif len(split_salary) == 2:
        df.at[i, 'from_salary'] = split_salary[0]   # We assign FIRST value of the split. Most of the strings are of the "$50,000 - $70,000" type
        df.at[i, 'to_salary'] = split_salary[1]   # We assign SECOND value of the split. Most of the strings are of the "$50,000 - $70,000" type

# Salary/Hour Loop

In [24]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('hour') == True)

for i in df.index[filt == True]:
    from_sal = df.iloc[i, df.columns.get_loc('from_salary')]
    to_sal = df.iloc[i, df.columns.get_loc('to_salary')]
    
    df.iloc[i, df.columns.get_loc('yearly_hourly')] = 'hour'
    
    split_salary = df.iloc[i, df.columns.get_loc('salary')].split('-', 1)
    
    if len(split_salary) == 1:
        df.at[i, 'from_salary'] = np.nan
        df.at[i, 'to_salary'] = split_salary[0]
    elif len(split_salary) == 2:
        df.at[i, 'from_salary'] = split_salary[0]
        df.at[i, 'to_salary'] = split_salary[1]

# Salary per Month

In [25]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains("""/month""") == True)

for i in df.index[filt == True]:
    from_sal = df.iloc[i, df.columns.get_loc('from_salary')]
    to_sal = df.iloc[i, df.columns.get_loc('to_salary')]
    
    df.iloc[i, df.columns.get_loc('yearly_hourly')] = 'month'
    
    split_salary = df.iloc[i, df.columns.get_loc('salary')].split('-', 1)
    
    if len(split_salary) == 1:
        df.at[i, 'from_salary'] = np.nan
        df.at[i, 'to_salary'] = split_salary[0]
    elif len(split_salary) == 2:
        df.at[i, 'from_salary'] = split_salary[0]
        df.at[i, 'to_salary'] = split_salary[1]

# Up to... Loop

In [26]:
filt_upto = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('Up to') == True)

df.loc[filt_upto]['salary']

for i in df.index[filt_upto == True]:
    split_salary = df.iloc[i, df.columns.get_loc('salary')].split('$', 1)
    if len(split_salary[1]) > 5:
        df.at[i, 'from_salary'] = np.nan
        df.at[i, 'to_salary'] = split_salary[1]
        df.at[i, 'yearly_hourly'] = 'upto'
    elif len(split_salary[1]) < 6:
        df.at[i, 'from_salary'] = np.nan
        df.at[i, 'to_salary'] = split_salary[1]
        df.at[i, 'yearly_hourly'] = 'uptohour'

# View year results

In [27]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('year') == True)

df.loc[filt][['salary', 'from_salary', 'to_salary', 'yearly_hourly']]

,salary,from_salary,to_salary,yearly_hourly
id,,,,
14,"80,000.00 - 95,000.00 $ /year","80,000.00","95,000.00 $ /year",year
19,"60,000.00 - 72,000.00 $ /year","60,000.00","72,000.00 $ /year",year
29,"70,000.00 - 100,000.00 $ /year","70,000.00","100,000.00 $ /year",year
32,"75,000.00 - 100,000.00 $ /year","75,000.00","100,000.00 $ /year",year
36,"68,000.00 - 72,000.00 $ /year","68,000.00","72,000.00 $ /year",year
...,...,...,...,...
21982,"70,000.00 - 80,000.00 $ /year","70,000.00","80,000.00 $ /year",year
21987,"$80,000.00+ /year",NaN,"$80,000.00+ /year",year
21995,"120,000.00 - 160,000.00 $ /yearbonus","120,000.00","160,000.00 $ /yearbonus",year
21996,"45,000.00 - 60,000.00 $ /year","45,000.00","60,000.00 $ /year",year
21999,"40,000.00 - 46,000.00 $ /year+ annual bonus (u...","40,000.00","46,000.00 $ /year+ annual bonus (up to 15% of...",year

# View hour results

In [28]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains('hour') == True)

df.loc[filt][['salary', 'from_salary', 'to_salary', 'yearly_hourly']]

,salary,from_salary,to_salary,yearly_hourly
id,,,,
13,9.00 - 13.00 $ /hour,9.00,13.00 $ /hour,hour
30,62.00 - 81.00 $ /hour,62.00,81.00 $ /hour,hour
43,15.00 - 16.00 $ /hour,15.00,16.00 $ /hour,hour
68,13.75 - 16.75 $ /hourYear End Bonus,13.75,16.75 $ /hourYear End Bonus,hour
80,40.00 - 50.00 $ /hour,40.00,50.00 $ /hour,hour
...,...,...,...,...
21909,17.00 - 21.00 $ /hour,17.00,21.00 $ /hour,hour
21912,20.00 - 22.00 $ /hour,20.00,22.00 $ /hour,hour
21913,50.00 - 55.00 $ /hour,50.00,55.00 $ /hour,hour
21927,30.00 - 35.00 $ /hour,30.00,35.00 $ /hour,hour
21998,25.00 - 28.00 $ /hour,25.00,28.00 $ /hour,hour

# View Monthly

In [29]:
filt = (pd.isna(df['salary']) == False) & (df['salary'].str.contains("""/month""") == True)

df.loc[filt][['salary', 'from_salary', 'to_salary', 'yearly_hourly']]

,salary,from_salary,to_salary,yearly_hourly
id,,,,
2662,"17,688.94 - 20,971.00 $ /month","17,688.94","20,971.00 $ /month",month
2900,"3,137.89 - 3,865.66 $ /month","3,137.89","3,865.66 $ /month",month
3300,"17,688.94 - 20,971.00 $ /month","17,688.94","20,971.00 $ /month",month
3317,"6,833.33 - 8,060.00 $ /month","6,833.33","8,060.00 $ /month",month
3345,"4,224.31 - 6,579.41 $ /month","4,224.31","6,579.41 $ /month",month
3622,"4,905.22 - 6,579.41 $ /month","4,905.22","6,579.41 $ /month",month
5949,"4,362.39 - 5,445.57 $ /month","4,362.39","5,445.57 $ /month",month
12333,"1,800.00 - 3,500.00 $ /month","1,800.00","3,500.00 $ /month",month
13554,"5,882.93 - 7,883.20 $ /month","5,882.93","7,883.20 $ /month",month
14150,"3,674.00 - 4,690.00 $ /month","3,674.00","4,690.00 $ /month",month
14558,"6,401.00 - 7,935.00 $ /month","6,401.00","7,935.00 $ /month",month
15189,"1,878.00 - 1,878.00 $ /month","1,878.00","1,878.00 $ /month",month
16337,"5,153.00 - 6,264.00 $ /month","5,153.00","6,264.00 $ /month",month
17609,"4,900.00 - 6,125.00 $ /month","4,900.00","6,125.00 $ /month",month
18109,"6,000.00 - 10,000.00 $ /month","6,000.00","10,000.00 $ /month",month
18281,"5,000.00 - 15,000.00 $ /monthPlus Bonuses","5,000.00","15,000.00 $ /monthPlus Bonuses",month
19265,"3,293.00 - 4,542.00 $ /month","3,293.00","4,542.00 $ /month",month

# View Up to...

In [30]:
filt = (pd.isna(df['salary']) == False) & (df['yearly_hourly'].str.contains('upto') == True)

df.loc[filt][['salary', 'from_salary', 'to_salary', 'yearly_hourly']]

                salary from_salary to_salary yearly_hourly
id
42     Up to $32000.00         NaN  32000.00          upto
154    Up to $45000.00         NaN  45000.00          upto
2630      Up to $18.00         NaN     18.00      uptohour
2639      Up to $13.00         NaN     13.00      uptohour
2651      Up to $18.00         NaN     18.00      uptohour
...                ...         ...       ...           ...
14069     Up to $15.00         NaN     15.00      uptohour
20014     Up to $14.00         NaN     14.00      uptohour
21168     Up to $20.00         NaN     20.00      uptohour
21270  Up to $31500.00         NaN  31500.00          upto
21902  Up to $35000.00         NaN  35000.00          upto

[101 rows x 4 columns]

# View others
There are still some hourly/yearly salaries in a different format.\
I don't think including any of these is relevant for the data nor is going to make a difference.
I am leaving the rest of the rows as NaN.

In [64]:
filt = (pd.isna(df['salary']) == False) & (pd.isna(df['yearly_hourly']) == True)

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df.loc[filt][['salary', 'from_salary', 'to_salary', 'yearly_hourly']].head(20))

                                                 salary from_salary to_salary  \
id
23                         Excellent Pay and Incentives         NaN       nan
58                              Salary, plus commission         NaN       nan
70                                     To be discussed.         NaN       nan
92              bonus, 401K matching, medical, vacation         NaN       nan
125                                                 DOE         NaN       nan
179                      Negotiable based on experience         NaN       nan
183                                   Competitive Wages         NaN       nan
209   Burg Simpson offers excellent benefits and com...         NaN       nan
225                 Excellent compensation and benefits         NaN       nan
451                                       Yearly Salary         NaN       nan
484                                   $300 Hiring Bonus         NaN       nan
521                         Salary based on experience.         NaN       nan
659                                 Bonus Opportunities         NaN       nan
897                Competitive Base Salary + Commission         NaN       nan
1056               Competitive Base Salary + Commission         NaN       nan
1064                               Uncapped commissions         NaN       nan
1067                               $4,000 Sign-On Bonus         NaN       nan
1076                                Bonus Opportunities         NaN       nan
1103                                   $1,100.00+ /week         NaN       nan
1179  Employee Health/Dental Benefits; 401k Employer...         NaN       nan

     yearly_hourly
id
23             NaN
58             NaN
70             NaN
92             NaN
125            NaN
179            NaN
183            NaN
209            NaN
225            NaN
451            NaN
484            NaN
521            NaN
659            NaN
897            NaN
1056           NaN
1064           NaN
1067           NaN
1076           NaN
1103           NaN
1179           NaN

# Clean "from_salary" & "to_salary" columns
We have the salaries mixed with different strings and symbols.

In [65]:
df[['from_salary', 'to_salary']]

filt = (pd.isna(df['salary']) == False) & (pd.isna(df['yearly_hourly']) == True)

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df.loc[:, ['from_salary', 'to_salary', 'yearly_hourly']].head(20))

   from_salary           to_salary yearly_hourly
id
0          NaN                 nan           NaN
1          NaN                 nan           NaN
2          NaN                 nan           NaN
3          NaN                 nan           NaN
4          NaN                 nan           NaN
5          NaN                 nan           NaN
6          NaN                 nan           NaN
7          NaN                 nan           NaN
8          NaN                 nan           NaN
9          NaN                 nan           NaN
10         NaN                 nan           NaN
11         NaN                 nan           NaN
12         NaN                 nan           NaN
13       9.00        13.00 $ /hour          hour
14  80,000.00    95,000.00 $ /year          year
15         NaN                 nan           NaN
16         NaN                 nan           NaN
17         NaN                 nan           NaN
18         NaN                 nan           NaN
19  60,000.00    72,000.00 $ /year          year

Copy of "from_salary" and "to_salary" columns

In [33]:
df['copy_from_salary'] = df['from_salary']

df['copy_to_salary'] = df['to_salary']

Make corrections for the nan values in the "from_salary" column

In [34]:
df.loc[42, ['from_salary']].apply(type) #NaN IS EQUAL TO FLOAT TYPE

from_salary    <class 'float'>
Name: 42, dtype: object

In [35]:
df.loc[0, ['from_salary']].apply(type) #nan IS EQUAL TO STRING TYPE

from_salary    <class 'str'>
Name: 0, dtype: object

Some of the nan values were actually strings, so the np.nan filter didn't get them. I had to look them as 'nan'.

In [36]:
df['from_salary'] = df['from_salary'].astype(str)

In [37]:
df.loc[42, ['from_salary']].apply(type) #value is now changed to string type

from_salary    <class 'str'>
Name: 42, dtype: object

Next code block replaces the 'nan' values for np.nan or Null values.

In [38]:
df['from_salary'].replace(to_replace= 'nan', value= np.nan, inplace=True)

Now we have the 'nan' values as Null and the rest of the values (70,000.00, $10.00) as strings.

In [41]:
filt_from_salary = df.loc[df['from_salary'].notnull(), ['from_salary']]

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(filt_from_salary)

                                             from_salary
id
13                                                 9.00
14                                            80,000.00
19                                            60,000.00
29                                            70,000.00
30                                                62.00
32                                            75,000.00
36                                            68,000.00
41                                            58,000.00
43                                                15.00
61                                            45,000.00
64                                            40,000.00
68                                                13.75
80                                                40.00
82                                            80,000.00
83                                            35,000.00
88                                            80,000.00
100                                           31,000.00
111                                               50.00
117                                          100,000.00
121                                               17.00
127                                           75,000.00
134                                           56,000.00
136                                               45.00
137                                               25.00
146                                           75,000.00
166                                                0.00
182                                           60,000.00
190                                           50,000.00
201                                               12.00
204                                           70,000.00
218                                               19.00
227                                               60.00
240                                          100,000.00
249                                           69,000.00
253                                           80,000.00
274                                               15.00
279                                               15.00
284                                               13.00
312                                           25,000.00
327                                               17.00
343                                           85,000.00
350                                               19.00
369                                               40.00
379                                           70,000.00
386                                           50,000.00
393                                           55,000.00
401                                                0.00
404                                               16.00
411                                               15.00
416                                               10.00
422                                                0.00
427                                               20.00
445                                           82,000.00
509                                               12.00
512                                               11.85
518                                               14.00
581                                               30.93
605                                               15.00
627                                               20.00
640                                                0.00
674                                               13.45
681                                               28.00
706                                           90,000.00
710                                          100,000.00
737                                           40,000.00
748                                               55.00
754                                           40,000.00
755                                               11.00
764                                               11.00
765                                           40,000.00
767                                               22.01
784                                               16.00
806                                           70,000.00
812                                          100,000.00
816                                               13.00
833                                               12.00
850                                               13.00
855                                           90,000.00
856                                               14.00
857                                               55.00
860                                           55,000.00
869                                               26.92
870                                               15.00
872                                           55,000.00
899                                           55,000.00
903                                               16.00
904                                                9.50
934                                           90,000.00
964                                           80,000.00
972                                               19.50
974                                               14.00
976                                           54,058.00
980                                                0.00
1030                                              17.00
1043                                          35,000.00
1054                                         100,000.00
1066                                              35.00
1073                                          54,000.00
1075                                              13.00
1096                                              13.00
1113                                              25.00
1160                                             100.00
1173                                              30.00
1174                                              30.00
1177                                          72,000.00
1199                                          90,000.00
1214                                              20.00
1223                                         170,000.00
1235                                          56,136.00
1250                                               0.00
1254                                          75,000.00
1275                                              75.00
1288                                              25.00
1294                                              25.00
1319                                              55.00
1322                                         150,000.00
1336                                         100,000.00
1340                                              70.00
1352                                              50.00
1370                                              25.00
1384                                          60,000.00
1387                                          80,000.00
1394                                              24.00
1408                                          80,000.00
1412                                          80,000.00
1425                                              26.00
1426                                              20.00
1436                                              10.00
1437                                          70,000.00
1442                                          60,000.00
1450                                          30,000.00
1487                                              29.00
1488                                              40.00
1490                                          75,000.00
1495                                          70,000.00
1497                                         110,000.00
1503                                          37,440.00
1509                                          65,000.00
1524                                          78,000.00
1527                                          65,000.00
1528                                          70,000.00
1529                                              19.00
1534                                          92,000.00
1535                                          95,000.00
1554                                         110,000.00
1555                                          75,000.00
1572                                              15.00
1573                                              12.00
1582                                          90,000.00
1587                                          80,000.00
1590                                              20.00
1595                                         120,000.00
1598                                         110,000.00
1599                                              30.00
1611                                          75,000.00
1616                                              19.92
1630                                          55,000.00
1634                                          80,000.00
1640                                              15.00
1642                                          75,000.00
1645                                          45,000.00
1655                                          80,000.00
1675                                          75,000.00
1680                                         100,000.00
1684                                          70,000.00
1701                                          65,000.00
1716                                          50,000.00
1739                                              26.00
1745                                          50,000.00
1749                                          75,000.00
1754                                              45.00
1760                                              24.00
1762                                              30.00
1775                                         100,000.00
1835                                          50,000.00
1849                                          45,000.00
1886                                              36.00
1887                                         175,000.00
1898                                          60,000.00
1912                                          80,000.00
1930                                          55,000.00
1937                                          20,000.00
1952                                          90,000.00
1965                                          65,000.00
1968                                               0.00
1982                                          50,000.00
1990                                         125,000.00
1993                                              13.50
2005                                               0.00
2012                                              70.00
2015                                              36.06
2024                                          85,000.00
2025                                          70,000.00
2031                                          50,000.00
2035                                              35.00
2045                                          35,000.00
2062                                              35.00
2067                                              50.00
2073                                               0.00
2090                                          42,000.00
2091                                          90,000.00
2093                                          60,000.00
2125                                          90,000.00
2132                                         115,000.00
2135                                          85,000.00
2141                                              15.00
2142                                          60,000.00
2161                                          35,000.00
2210                                          65,000.00
2211                                          60,000.00
2216                                          70,000.00
2217                                          45,000.00
2233                                          65,000.00
2285                                               0.00
2298                                              15.00
2299                                          95,000.00
2300                                              14.00
2307                                          60,000.00
2309                                          80,000.00
2313                                          60,000.00
2322                                               0.00
2324                                          60,000.00
2327                                          30,000.00
2332                                          65,000.00
2344                                          80,000.00
2346                                          50,000.00
2349                                         130,000.00
2351                                          50,000.00
2352                                           5,000.00
2354                                          45,000.00
2355                                          50,000.00
2362                                               0.00
2363                                          65,000.00
2365                                         110,000.00
2367                                          40,000.00
2368                                          65,000.00
2371                                          80,000.00
2373                                              15.50
2388                                          85,000.00
2400                                              20.00
2416                                              25.00
2429                                         110,000.00
2431                                               0.00
2435                                          60,000.00
2437                                              18.00
2438                                               0.00
2441                                          48,000.00
2443                                          30,000.00
2447                                          50,000.00
2449                                          60,000.00
2476                                          40,000.00
2493                                          75,000.00
2517                                          50,000.00
2534                                               0.00
2541                                          40,000.00
2543                                          75,000.00
2548                                          95,000.00
2566                                          40,000.00
2592                                          65,000.00
2598                                              35.00
2602                                          60,000.00
2606                                          95,000.00
2609                                          75,000.00
2610                                          60,000.00
2634                                              11.00
2645                                          80,000.00
2650                                          25,000.00
2652                                             100.00
2662                                          17,688.94
2676                                          35,000.00
2679                                          40,000.00
2706                                          90,000.00
2727                                               0.00
2739                                              18.00
2764                                               1.00
2765                                          30,000.00
2767                                              43.00
2777                                              20.00
2784                                         160,000.00
2791                                          36,000.00
2809                                          32,000.00
2812                                          95,000.00
2813                                              15.00
2824                                          51,708.80
2838                                         126,006.00
2843                                          60,000.00
2900                                           3,137.89
2909                                              13.75
2916                                              20.00
2930                                          75,000.00
2940                                              48.00
2942                                         100,000.00
2978                                              10.00
2986                                         108,493.00
2994                                          70,000.00
2998                                         120,000.00
3004                                          50,000.00
3008                                              50.00
3010                                              65.00
3020                                              12.00
3032                                              84.00
3040                                          50,000.00
3071                                          95,000.00
3089                                          45,000.00
3128                                         100,000.00
3140                                         100,000.00
3141                                               0.00
3172                                              15.00
3173                                          85,000.00
3184                                          62,000.00
3197                                              40.00
3235                                              18.00
3236                                          85,000.00
3257                                              23.00
3271                                          80,000.00
3280                                              55.00
3289                                          75,000.00
3293                                              38.00
3300                                          17,688.94
3301                                          35,000.00
3317                                           6,833.33
3341                                              40.00
3345                                           4,224.31
3354                                          55,000.00
3361                                          40,000.00
3372                                          32,500.00
3378                                              21.00
3416                                          65,000.00
3430                                          85,000.00
3447                                             750.00
3456                                               1.00
3464                                              18.00
3474                                          60,000.00
3490                                          90,000.00
3540                                              30.00
3547                                          70,000.00
3570                                          40,000.00
3590                                          35,000.00
3613                                          60,000.00
3622                                           4,905.22
3652                                          70,000.00
3681                                              45.00
3692                                          80,000.00
3702                                              40.00
3718                                         185,000.00
3758                                              70.00
3773                                              30.00
3776                                              18.00
3806                                              40.00
3826                                          84,000.00
3861                                          28,000.00
3869                                              11.00
3878                                          85,000.00
3881                                              10.00
3911                                              35.00
3918                                              12.00

In [63]:
filt_from_salary = df['from_salary'].notnull() == True

for i in df.index[filt_from_salary]:
    # GetVals = list([char for char in ejemplo
    #            if char.isnumeric() or char == '.'])
    print(i)

13
14
19
29
30
32
36
41
43
61
64
68
80
82
83
88
100
111
117
121
127
134
136
137
146
166
182
190
201
204
218
227
240
249
253
274
279
284
312
327
343
350
369
379
386
393
401
404
411
416
422
427
445
509
512
518
581
605
627
640
674
681
706
710
737
748
754
755
764
765
767
784
806
812
816
833
850
855
856
857
860
869
870
872
899
903
904
934
964
972
974
976
980
1030
1043
1054
1066
1073
1075
1096
1113
1160
1173
1174
1177
1199
1214
1223
1235
1250
1254
1275
1288
1294
1319
1322
1336
1340
1352
1370
1384
1387
1394
1408
1412
1425
1426
1436
1437
1442
1450
1487
1488
1490
1495
1497
1503
1509
1524
1527
1528
1529
1534
1535
1554
1555
1572
1573
1582
1587
1590
1595
1598
1599
1611
1616
1630
1634
1640
1642
1645
1655
1675
1680
1684
1701
1716
1739
1745
1749
1754
1760
1762
1775
1835
1849
1886
1887
1898
1912
1930
1937
1952
1965
1968
1982
1990
1993
2005
2012
2015
2024
2025
2031
2035
2045
2062
2067
2073
2090
2091
2093
2125
2132
2135
2141
2142
2161
2210
2211
2216
2217
2233
2285
2298
2299
2300
2307
2309
2313
2322
2324
2327
2332
2344
2346
2349
2351
2352
2354
2355
2362
2363
2365
2367
2368
2371
2373
2388
2400
2416
2429
2431
2435
2437
2438
2441
2443
2447
2449
2476
2493
2517
2534
2541
2543
2548
2566
2592
2598
2602
2606
2609
2610
2634
2645
2650
2652
2662
2676
2679
2706
2727
2739
2764
2765
2767
2777
2784
2791
2809
2812
2813
2824
2838
2843
2900
2909
2916
2930
2940
2942
2978
2986
2994
2998
3004
3008
3010
3020
3032
3040
3071
3089
3128
3140
3141
3172
3173
3184
3197
3235
3236
3257
3271
3280
3289
3293
3300
3301
3317
3341
3345
3354
3361
3372
3378
3416
3430
3447
3456
3464
3474
3490
3540
3547
3570
3590
3613
3622
3652
3681
3692
3702
3718
3758
3773
3776
3806
3826
3861
3869
3878
3881
3911
3918
3934
3966
3977
3978
4001
4020
4030
4048
4054
4062
4072
4094
4104
4120
4122
4141
4157
4160
4172
4197
4198
4211
4224
4244
4248
4250
4260
4288
4291
4298
4330
4338
4350
4354
4384
4386
4403
4421
4426
4429
4435
4451
4457
4473
4503
4505
4509
4514
4517
4520
4521
4523
4526
4527
4541
4544
4545
4547
4548
4552
4554
4557
4559
4565
4573
4592
4595
4601
4606
4635
4636
4645
4647
4649
4650
4653
4663
4667
4669
4672
4683
4687
4695
4696
4702
4705
4708
4723
4734
4738
4744
4745
4754
4755
4761
4767
4783
4792
4797
4807
4811
4813
4817
4818
4825
4827
4834
4837
4845
4851
4852
4857
4858
4861
4865
4870
4877
4878
4880
4882
4885
4889
4902
4904
4905
4906
4911
4913
4917
4921
4928
4949
4957
4966
4968
4969
4970
4974
4981
5001
5004
5007
5009
5010
5012
5019
5023
5038
5043
5051
5054
5056
5057
5060
5063
5070
5073
5075
5079
5082
5086
5092
5101
5112
5116
5118
5125
5130
5142
5152
5161
5165
5172
5174
5175
5177
5178
5183
5185
5191
5192
5193
5198
5199
5203
5209
5212
5223
5232
5256
5268
5279
5282
5289
5295
5299
5303
5308
5312
5321
5326
5329
5347
5367
5373
5380
5381
5389
5411
5416
5422
5426
5431
5433
5436
5448
5449
5466
5467
5470
5481
5486
5487
5496
5503
5504
5506
5515
5521
5522
5528
5531
5536
5539
5549
5554
5559
5569
5573
5585
5592
5597
5603
5609
5614
5617
5628
5646
5649
5666
5676
5687
5690
5691
5698
5711
5722
5735
5737
5747
5755
5770
5771
5779
5784
5795
5813
5814
5820
5824
5830
5834
5855
5858
5876
5880
5885
5886
5892
5894
5897
5899
5904
5913
5923
5925
5932
5936
5939
5940
5943
5947
5949
5951
5954
5955
5957
5962
5972
5983
5987
5989
5991
5993
5997
5999
6005
6009
6010
6017
6020
6026
6034
6045
6052
6066
6070
6071
6074
6076
6078
6079
6081
6089
6095
6123
6140
6170
6177
6251
6313
6324
6360
6394
6405
6411
6477
6507
6513
6553
6576
6614
6627
6639
6696
6725
6744
6768
6769
6775
6777
6779
6781
6783
6784
6792
6795
6797
6801
6804
6810
6817
6820
6823
6826
6843
6844
6861
6866
6871
6891
6893
6912
6913
6921
6922
6932
6939
6963
6981
7004
7014
7051
7126
7147
7153
7155
7158
7160
7161
7164
7165
7167
7168
7169
7170
7177
7178
7179
7180
7181
7182
7183
7187
7189
7190
7194
7196
7200
7203
7207
7208
7211
7213
7216
7218
7221
7227
7232
7234
7237
7242
7243
7250
7255
7258
7259
7260
7261
7265
7278
7282
7285
7295
7296
7297
7300
7305
7306
7307
7309
7310
7317
7318
7320
7324
7326
7328
7329
7332
7337
7338
7344
7345
7350
7359
7362
7363
7364
7367
7369
7373
7374
7384
7387
7392
7395
7398
7406
7408
7413
7423
7432
7451
7455
7464
7474
7485
7492
7500
7515
7516
7524
7531
7537
7538
7539
7554
7559
7561
7568
7569
7599
7608
7620
7638
7652
7660
7663
7670
7680
7703
7705
7756
7760
7762
7765
7770
7776
7781
7782
7788
7809
7810
7813
7818
7839
7840
7849
7858
7869
7882
7883
7897
7898
7907
7912
7925
7930
7932
7933
8030
8032
8055
8070
8078
8084
8087
8112
8115
8121
8163
8173
8175
8178
8197
8216
8279
8298
8324
8347
8350
8362
8402
8413
8426
8438
8458
8483
8487
8497
8504
8511
8514
8518
8523
8524
8527
8541
8544
8549
8553
8558
8559
8561
8567
8574
8576
8578
8580
8583
8586
8597
8598
8612
8625
8631
8641
8653
8657
8658
8660
8661
8664
8686
8713
8717
8721
8729
8731
8759
8770
8792
8826
8841
8843
8855
8863
8866
8868
8875
8881
8888
8902
8903
8910
8918
8923
8928
8931
8942
8948
8949
8953
8965
8967
8973
8986
8991
9004
9017
9026
9035
9042
9049
9052
9059
9063
9065
9071
9075
9078
9081
9092
9106
9108
9110
9112
9115
9117
9120
9121
9125
9127
9131
9142
9146
9153
9156
9161
9172
9176
9183
9187
9192
9194
9195
9198
9202
9203
9233
9236
9260
9266
9272
9283
9292
9296
9297
9300
9301
9302
9305
9308
9309
9314
9318
9333
9334
9336
9345
9348
9350
9354
9358
9362
9364
9375
9387
9390
9399
9402
9415
9419
9423
9424
9432
9448
9453
9456
9471
9480
9482
9488
9493
9503
9511
9515
9522
9525
9536
9537
9539
9543
9545
9562
9563
9565
9566
9568
9575
9577
9579
9585
9592
9595
9596
9599
9601
9605
9613
9619
9625
9628
9631
9637
9642
9643
9644
9664
9666
9671
9683
9685
9686
9688
9700
9701
9704
9708
9712
9714
9717
9718
9721
9722
9723
9724
9727
9732
9735
9741
9743
9749
9751
9753
9759
9761
9783
9799
9802
9809
9811
9820
9826
9848
9852
9854
9855
9859
9860
9868
9873
9878
9883
9886
9894
9903
9905
9919
9932
9934
9935
9941
9944
9946
9949
9955
9957
9959
9964
9966
9971
9975
9976
9993
9998
10014
10036
10042
10047
10063
10067
10068
10076
10077
10081
10085
10087
10088
10112
10117
10125
10128
10129
10137
10139
10144
10148
10163
10166
10179
10195
10204
10208
10220
10221
10233
10239
10241
10245
10247
10253
10255
10267
10274
10287
10292
10298
10308
10314
10316
10324
10327
10335
10342
10351
10355
10380
10393
10397
10398
10399
10400
10405
10413
10415
10416
10420
10436
10442
10444
10454
10460
10462
10463
10465
10474
10485
10493
10512
10515
10517
10534
10566
10573
10575
10587
10589
10593
10594
10595
10600
10605
10606
10607
10613
10616
10620
10629
10637
10639
10648
10650
10655
10656
10658
10666
10672
10674
10680
10681
10683
10689
10690
10694
10706
10714
10716
10717
10719
10721
10722
10723
10727
10732
10733
10738
10771
10774
10776
10783
10786
10797
10813
10829
10841
10846
10855
10895
10904
10908
10909
10920
10925
10928
10941
10942
10954
10958
10963
10971
10973
10974
10979
10983
10995
11011
11013
11018
11027
11029
11030
11046
11048
11049
11055
11056
11064
11067
11070
11076
11092
11094
11117
11124
11145
11151
11163
11177
11202
11209
11214
11219
11221
11230
11297
11305
11324
11327
11343
11374
11383
11406
11414
11428
11457
11484
11487
11502
11507
11508
11515
11518
11525
11532
11548
11555
11560
11582
11586
11622
11625
11629
11644
11657
11676
11679
11683
11688
11714
11720
11735
11741
11744
11760
11765
11771
11775
11779
11811
11818
11825
11850
11852
11854
11856
11858
11865
11866
11867
11870
11871
11875
11877
11879
11882
11889
11891
11918
11938
11947
11953
11964
11975
11977
11987
12000
12012
12025
12039
12050
12065
12080
12091
12099
12105
12111
12113
12119
12129
12133
12137
12138
12139
12147
12148
12159
12162
12174
12183
12198
12206
12223
12224
12226
12257
12267
12271
12279
12282
12288
12294
12296
12297
12301
12333
12344
12351
12359
12373
12380
12387
12405
12410
12416
12421
12431
12441
12449
12451
12453
12463
12477
12494
12513
12525
12531
12544
12547
12557
12559
12567
12577
12578
12586
12597
12605
12609
12617
12623
12632
12635
12644
12645
12657
12670
12691
12717
12727
12743
12758
12763
12766
12776
12782
12783
12790
12798
12800
12809
12811
12816
12819
12822
12840
12846
12848
12851
12854
12864
12871
12883
12894
12903
12906
12907
12910
12916
12936
12946
12962
12976
13001
13008
13010
13012
13013
13018
13019
13024
13027
13060
13061
13062
13068
13070
13071
13076
13080
13092
13098
13110
13114
13124
13126
13135
13136
13149
13157
13175
13179
13180
13187
13194
13196
13200
13207
13211
13235
13246
13254
13268
13270
13272
13282
13305
13307
13310
13313
13315
13319
13328
13335
13351
13364
13372
13376
13379
13382
13391
13397
13409
13421
13423
13432
13435
13442
13448
13449
13465
13469
13470
13472
13487
13488
13496
13499
13503
13507
13509
13514
13518
13519
13527
13535
13536
13539
13552
13554
13571
13577
13578
13580
13581
13585
13586
13590
13597
13602
13606
13622
13629
13631
13633
13635
13638
13640
13655
13657
13669
13673
13678
13679
13680
13698
13700
13716
13717
13719
13721
13725
13740
13741
13744
13745
13751
13755
13760
13770
13773
13779
13798
13808
13811
13812
13813
13814
13821
13825
13835
13840
13847
13859
13862
13864
13883
13884
13887
13898
13904
13908
13911
13921
13927
13928
13931
13957
13978
13984
13985
13986
13988
13993
14002
14003
14005
14007
14008
14016
14022
14026
14034
14038
14040
14042
14045
14050
14051
14054
14056
14060
14062
14070
14072
14073
14079
14085
14086
14089
14094
14095
14107
14115
14117
14120
14140
14146
14150
14158
14161
14163
14165
14171
14173
14175
14176
14181
14184
14187
14188
14198
14200
14207
14210
14212
14215
14218
14243
14248
14256
14257
14264
14265
14280
14299
14302
14304
14311
14318
14348
14360
14361
14363
14366
14371
14385
14400
14406
14411
14414
14430
14431
14433
14438
14446
14448
14459
14467
14470
14471
14482
14487
14511
14517
14521
14537
14558
14603
14647
14691
14696
14707
14723
14739
14743
14748
14754
14759
14762
14777
14779
14781
14791
14794
14806
14814
14818
14829
14833
14853
14859
14862
14866
14871
14874
14882
14883
14885
14892
14897
14902
14905
14908
14914
14933
14937
14938
14939
14943
14944
14945
14947
14956
14960
14962
14964
14972
14973
14976
14977
14984
14990
14997
15008
15011
15017
15051
15053
15060
15076
15093
15107
15114
15123
15138
15150
15163
15185
15189
15215
15217
15221
15235
15239
15250
15261
15263
15266
15271
15280
15307
15309
15310
15325
15326
15330
15347
15350
15354
15365
15376
15409
15423
15429
15432
15441
15447
15453
15462
15463
15474
15477
15482
15487
15489
15494
15495
15497
15506
15510
15520
15535
15547
15548
15568
15576
15579
15585
15598
15617
15640
15648
15657
15660
15663
15674
15675
15682
15685
15688
15690
15691
15698
15699
15701
15707
15713
15714
15717
15725
15728
15749
15779
15786
15789
15792
15796
15805
15806
15810
15812
15823
15825
15828
15848
15851
15852
15853
15857
15858
15859
15870
15875
15879
15892
15947
15975
15997
16031
16129
16130
16132
16143
16151
16152
16153
16154
16162
16168
16177
16194
16199
16200
16204
16210
16218
16220
16236
16239
16243
16253
16270
16277
16278
16285
16291
16294
16297
16307
16312
16315
16322
16326
16327
16336
16337
16338
16342
16351
16357
16360
16361
16375
16376
16377
16385
16387
16407
16421
16486
16538
16611
16649
16721
16725
16753
16796
16801
16834
16844
16863
16874
16886
16906
16918
16931
16943
16945
16946
16949
16954
16970
16971
16974
16977
16979
17000
17001
17003
17010
17017
17021
17023
17036
17052
17092
17097
17099
17103
17105
17108
17112
17125
17128
17129
17134
17147
17150
17153
17160
17162
17164
17178
17183
17187
17193
17201
17202
17209
17210
17216
17217
17225
17229
17233
17235
17237
17239
17245
17255
17261
17271
17273
17278
17286
17287
17291
17293
17294
17304
17308
17313
17315
17321
17329
17338
17342
17345
17346
17362
17374
17377
17381
17384
17392
17397
17399
17402
17409
17422
17424
17434
17436
17439
17442
17454
17460
17462
17465
17467
17471
17485
17492
17493
17495
17497
17498
17503
17505
17508
17510
17513
17515
17516
17525
17526
17535
17536
17544
17549
17554
17556
17563
17568
17570
17572
17576
17579
17580
17583
17586
17587
17592
17603
17605
17609
17619
17621
17622
17632
17642
17656
17658
17659
17660
17661
17673
17681
17686
17691
17692
17696
17697
17701
17702
17703
17704
17718
17726
17732
17736
17738
17739
17742
17743
17759
17764
17765
17768
17770
17771
17778
17781
17786
17792
17799
17803
17813
17818
17819
17823
17831
17834
17836
17841
17842
17846
17849
17867
17868
17874
17877
17906
17907
17908
17910
17914
17915
17920
17932
17941
17948
17958
17964
17975
17980
17983
17985
17989
17991
17999
18000
18002
18016
18033
18050
18058
18066
18070
18073
18078
18081
18082
18086
18094
18097
18102
18108
18109
18112
18114
18120
18125
18127
18131
18132
18137
18159
18161
18166
18176
18190
18200
18201
18214
18222
18224
18226
18234
18235
18236
18238
18247
18248
18254
18256
18260
18266
18273
18275
18276
18281
18283
18287
18297
18302
18315
18330
18341
18350
18351
18358
18369
18434
18443
18460
18463
18472
18502
18528
18533
18541
18594
18602
18626
18649
18652
18688
18690
18696
18709
18715
18728
18729
18731
18736
18739
18744
18747
18766
18774
18775
18779
18787
18795
18796
18800
18802
18808
18812
18824
18843
18846
18850
18860
18866
18876
18881
18894
18898
18904
18907
18919
18926
18927
18931
18936
18946
18956
18963
18973
18978
18980
18998
19004
19015
19018
19019
19024
19031
19038
19043
19050
19058
19060
19061
19068
19073
19074
19078
19089
19111
19120
19125
19130
19138
19142
19150
19152
19160
19171
19175
19193
19201
19206
19220
19222
19226
19235
19250
19265
19277
19281
19284
19289
19296
19301
19302
19311
19313
19316
19322
19328
19349
19352
19353
19373
19374
19377
19379
19390
19391
19393
19399
19400
19414
19431
19443
19444
19453
19459
19461
19467
19471
19472
19476
19498
19504
19546
19549
19551
19558
19576
19578
19595
19601
19612
19617
19621
19636
19637
19647
19651
19660
19676
19680
19686
19696
19701
19704
19714
19726
19729
19737
19744
19746
19758
19762
19766
19768
19802
19812
19816
19817
19819
19820
19824
19825
19830
19840
19846
19850
19856
19870
19874
19879
19881
19885
19886
19888
19890
19901
19903
19932
19948
19952
19958
19965
19966
19978
19980
19982
19997
20000
20006
20027
20040
20042
20051
20069
20097
20118
20144
20146
20154
20166
20174
20177
20184
20190
20193
20228
20244
20255
20257
20262
20275
20291
20314
20316
20318
20324
20326
20329
20331
20340
20351
20359
20381
20408
20424
20432
20446
20451
20453
20455
20468
20474
20524
20526
20538
20542
20548
20569
20574
20584
20585
20592
20597
20598
20599
20603
20629
20633
20653
20658
20662
20666
20680
20686
20722
20748
20754
20762
20803
20806
20831
20833
20839
20858
20861
20869
20894
20902
20954
20969
20970
20975
20993
20996
21008
21016
21021
21022
21037
21049
21066
21075
21086
21090
21097
21108
21112
21118
21119
21139
21143
21151
21157
21158
21163
21172
21176
21181
21185
21196
21197
21199
21220
21225
21228
21235
21236
21240
21241
21242
21247
21265
21279
21280
21294
21300
21309
21310
21315
21322
21333
21336
21338
21346
21348
21353
21354
21357
21363
21384
21388
21407
21414
21416
21429
21430
21434
21440
21442
21460
21461
21471
21483
21485
21492
21494
21496
21501
21503
21505
21512
21519
21522
21523
21529
21532
21538
21551
21553
21568
21570
21578
21583
21590
21593
21594
21598
21603
21609
21610
21614
21616
21618
21624
21625
21634
21635
21653
21657
21673
21677
21684
21687
21708
21716
21723
21726
21732
21737
21741
21750
21762
21763
21790
21793
21798
21802
21804
21809
21813
21814
21815
21819
21822
21837
21848
21851
21855
21874
21878
21882
21883
21885
21905
21906
21907
21909
21910
21912
21913
21916
21919
21927
21948
21960
21971
21973
21976
21982
21995
21996
21998
21999

In [45]:
ejemplo = '40,000.00'

# num_list = [i for i in range(11)]

# allowed_symbols = ['.']

# allowed_chars = num_list + allowed_symbols

for i in 

getVals = list([char for char in ejemplo
               if char.isnumeric() or char == '.'])



print(''.join(getVals))

40000.00

Empty cells by column
What can we do about these columns?

-> date_added:
 <br />-> job_type: 
 <br />-> organization: 
 <br />-> salary:
 <br />-> sector: